.contenedor-mensaje{
  height: 0px;
}
.chat-container{
	background-color: white;
            width: 98%;
            height: 420px;
            border: solid 1px #e1e1e1;
            padding: 10px;
            overflow-y: scroll;
}
.avatar-chat{
  border-radius: 50%;
}

.container {
  /*padding: 40px 20px;*/
  margin: 0 auto;
  width: 90%;
  color: white;
}

/* .bubble */

.bubble {
  color: white;
  background-color: #6f7bc1;
  font: 0.8125em/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-radius: 5px;
  box-shadow: 0 2px 5px #acb4df;
  box-sizing: border-box;
  clear: both;
  float: left;
  margin-bottom: -22px;
  padding: 5px 10px;
  position: relative;
  width: auto;
  max-width: 84%;
  word-wrap: break-word;
  margin-left: 40px;
  top: -30px;
  /*cursor: pointer;*/
}

.bubble--alt {
  background-color: #3f51b5;
  float: right;
  right: 17%;
}

.avatar-left{
    margin-right: 90%;
    float: left;
}
.avatar-right{
    margin-left: 90%;
    float: right;
}
.opciones-chat{
float: right;    
position: relative;    
top: -16px; 
right: 35px;
}
.opciones-inbox{
    float: right;
    position: relative;
    top: -4px;
    right: 8px;
}
.del-checkbox-izq{
    top: -36px;
    float: left;
}
.del-checkbox-drch{
    top: -36px;
    float: right;
    right: 3%;
}
