.container2 {
    top: 100px;
    position: relative;
}

.header-dc{
    top: 50px;
    position: relative;
}
.no-padding-top {
	position: relative;
    top: -74px;
}

body, html {
    background: #EEEEEE!important;
    color: #757575!important;
}
md-content.md-default-theme, md-content {
    color: #757575;
    background-color: rgb(255,255,255);
}
.icontabs{
    position: relative!important;
    top: 6px!important;
}

md-datepicker {
    position: relative;
    left: -16px;

    .md-datepicker-input-container{
      margin-left: 0;
    }
    .md-datepicker-button.md-icon-button {
      margin-right: 0;
    }
}


.layout-padding, .layout-padding-gt-sm, .layout-padding-gt-sm>*, .layout-padding-md, .layout-padding-md>*, .layout-padding>*, .layout-padding>.flex, .layout-padding>.flex-gt-sm, .layout-padding>.flex-md {
     padding: 0px; 
}

/*validacion*/

.form-group-red .form-control, .form-group-red .picker__select--month, .form-group-red .picker__select--year, .form-group-red .form-control:focus, .form-group-red .picker__select--month:focus, .form-group-red .picker__select--year:focus {
    border-color: #D16E6C;
}

.form-group-label.form-group-red .floating-label {
    color: #D16E6C;
}
.label-red {
    background-color: #D16E6C;
    color: white;
}


md-option {
    
    height: 25px!important;
}

.loginform md-input-container.md-default-theme .md-input, .loginform md-input-container .md-input {
    color: rgba(255,255,255,0.6);
    border-color: rgba(255,255,255,0.6);
    /*text-shadow: ;*/
}
.text-white2{
	color: rgba(255,255,255,0.6);
}



.text-blue{
    columns: green!important;
}