<div ng-controller="radioCtrl" flex ng-cloak>
  <div class="box-inner padding ng-scope" ui-view id="view">
    <div class="row row-xs ng-scope">
      <div class="col-sm-4">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Clientes</span>
              <div class="text-center">
                
              </div>
              <ng-md-icon icon="{{icon}}" ng-attr-style="fill: {{fill}}" size="64"></ng-md-icon>
              <!-- <span class="md-subhead">Large</span> -->
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-lg card-media"></div>
            </md-card-title-media>
          </md-card-title>
        </md-card>
      </div> 
    </div> 
  </div>  
</div>