<div ng-controller="radioCtrl as vm" flex ng-cloak>
  <style type="text/css">
    .mdl-card__actions {
      display: flex;
      box-sizing:border-box;
      align-items: center;
    }
    .mdl-card__actions > .mdl-button--icon {
      margin-right: 3px;
      margin-left: 3px;
    }
  </style>
  <div class="container">
    <div class="row">
        <!-- Card Projects -->
        <div class="col-md-6 col-md-offset-3">
          <md-card>
            <md-card-header>
              <md-card-avatar>
                <ng-md-icon icon="{{icon}}" ng-attr-style="fill: {{fill}}" size="64"></ng-md-icon>
              </md-card-avatar>
            </md-card-header>
            <!-- <img ng-src="card-image.png" class="md-card-image" alt="image caption"> -->
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Clientes</span>
              </md-card-title-text>
            </md-card-title>
          </md-card>
            <!-- <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TDlCYzRROE84YWM/materialdesign_introduction.png">
                    <span class="card-title">Material Cards</span>
                </div>
                
                <div class="card-content">
                    <p>Cards for display in portfolio style material design by Google.</p>
                </div>
                
                <div class="card-action">
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                </div>
            </div> -->
        </div>
    </div>
  </div>
 

  <div class="box-inner padding ng-scope" ui-view id="view">
    <div class="row row-xs ng-scope">
      <div class="col-sm-4">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Clientes</span>
              <div class="text-center">
                dasfddgsg
              </div>
              <ng-md-icon icon="{{icon}}" ng-attr-style="fill: {{fill}}" size="64"></ng-md-icon>
              <!-- <span class="md-subhead">Large</span> -->
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-lg card-media"></div>
            </md-card-title-media>
          </md-card-title>
        </md-card>
      </div> 
    </div> 
  </div>  

  <ms-nav>
    <ms-nav-item ms-nav-title>
        <span>FUSE</span>
    </ms-nav-item>
    <ms-nav-item ms-nav-toggle>
        <a ms-nav-button md-ink-ripple>
            <i class="icon-tile-four s16"></i>
            <span class="ms-nav-label" translate="NAVIGATION.DASHBOARDS">Dashboards</span>
            <i class="icon-chevron-down s16 arrow"></i>
        </a>
        <ms-nav-toggle-items>
            <ms-nav-item>
                <a ms-nav-button ui-sref="app.dashboard-v1" ui-sref-active="active" md-ink-ripple>
                    <span class="ms-nav-label">Dashboard v1</span>
                </a>
            </ms-nav-item>
            <ms-nav-item>
                <a ms-nav-button ui-sref="app.dashboard-v2" ui-sref-active="active" md-ink-ripple>
                    <span class="ms-nav-label">Dashboard v2</span>
                </a>
            </ms-nav-item>
        </ms-nav-toggle-items>
    </ms-nav-item>
</ms-nav>



  <!-- <div class="widget-group layout-wrap ng-scope layout-row flex-100" layout="row" flex="100" layout-wrap>
    <ms-widget flippable="true" layout="column" flex-gt-xs="50" flex-gt-md="25" class="ms-widget ng-isolate-scope layout-column flex-gt-xs-50 flex-gt-md-25 flex-100">
      <ms-widget-front class="white-bg ms-widget-front ng-scope">
        <div class="ph-8 pv-16 h-55 ng-scope layout-align-space-between-center layout-row">
          
        </div>

        <div class="pt-8 pb-32 ng-scope layout-align-center-center layout-column" layout="column" layout-align="center center">
          
        </div> 
      </ms-widget-front>
    </ms-widget>  

  </div> -->

    <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Clientes</span>
            <ng-md-icon icon="{{icon}}" ng-attr-style="fill: {{fill}}" size="64"></ng-md-icon>
            <!-- <span class="md-subhead">Large</span> -->
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
      </md-card>
      <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Extra Large</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
          <div class="md-media-xl card-media"></div>
          <md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
            </md-button>
          </md-card-actions>
        </md-card-content>
      </md-card>
    </div>

    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Small</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
      <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Medium</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
      <div layout layout-padding layout-align="center end" style="height:200px">
        <md-checkbox ng-model="showDarkTheme">Use 'Dark' Themed Cards</md-checkbox>
      </div>
    </div>
  </md-content>
    <!-- <md-card> -->
     <md-card>
      <md-card-header>
        <md-card-avatar>
          <ng-md-icon icon="{{icon}}" ng-attr-style="fill: {{fill}}" size="64"></ng-md-icon>
        </md-card-avatar>
      </md-card-header>
      <!-- <img ng-src="card-image.png" class="md-card-image" alt="image caption"> -->
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Clientes</span>
        </md-card-title-text>
      </md-card-title>
    </md-card>
</div>