<md-content layout-padding layout-wrap>
    <section class="content-inner margin-top-no">
        <nav class="tab-nav ui-tab">
            <ul class="nav nav-justified">
                <li ng-class="{active: ('dashboard.nomina.inicio' | routeSegmentStartsWith)}">
                    <a class="waves-attach waves-light waves-effect" href="#{{'dashboard.nomina.inicio' | routeSegmentUrl}}">
                        <i class="material-icons">home</i> Inicio
                    </a>
                </li>
                <li ng-class="{active: ('dashboard.nomina.nomina' | routeSegmentStartsWith)}">
                    <a class="waves-attach waves-light waves-effect"  href="#{{'dashboard.nomina.nomina' | routeSegmentUrl}}">
                        <i class="material-icons">assignment</i> Nomina
                    </a>
                </li>
                <li ng-class="{active: ('dashboard.nomina.departamentos' | routeSegmentStartsWith)}">
                    <a class="waves-attach waves-light waves-effect" href="#{{'dashboard.nomina.departamentos' | routeSegmentUrl}}">
                        <i class="material-icons">cloud_upload</i> Departamentos
                    </a>
                </li>
            </ul>
        </nav>
        <div app-view-segment="2"></div>
    </section>
</md-content>
