<div ng-controller="nominaCtrl">
    <div class="col-md-4 animated bounceInDown" ng-repeat="item in appslist">       
        <div class="card">
            <div class="card-main">
                <div class="card-img">
                    <img alt="alt text" src="images/samples/x2.jpg" style="width: 100%;">
                    <h2 class="card-img-heading">{{item.title}} <span class="icon">play_arrow</span></h2>
                </div>             
            </div>
        </div>
    </div>
</div>
