<div ng-controller="listado_empleadoCtrl">    
    <md-toolbar ng-hide="selected.length || filter.show">
      <div class="md-toolbar-tools">
        Lista Empleados
        <span flex></span>
        <md-button class="md-icon-button" ng-click="filter.show = true">
            <md-icon>search</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="loadStuff($event)">
            <md-icon>autorenew</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar md-default" ng-show="filter.show && !selected.length">
        <div class="md-toolbar-tools">
            <md-icon>search</md-icon>
            <form flex name="filter.form">
                <input type="text" ng-model="query.filter" ng-model-options="filter.options" placeholder="Buscar, Nomina Patronal">
            </form>
            <md-button class="md-icon-button" ng-click="removeFilter()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                <tr md-row>
                    <th md-column md-numeric>Código Empleado</th>
                    <th md-column md-numeric>Cédula / Identificación</th>
                    <th md-column md-numeric>Nombres Completos</th>
                    <th md-column md-numeric>Dirección</th>
                    <th md-column md-numeric>Correo</th>
                    <th md-column md-numeric>Móvil</th>
                    <th md-column md-numeric>Acción</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="dessert in desserts.data">
                    <td md-cell>{{dessert.codigo_personal}}</td>
                    <td md-cell>{{dessert.cedula_identificacion}}</td>
                    <td md-cell>{{dessert.nombres_completos}}</td>
                    <td md-cell>{{dessert.direccion}}</td> 
                    <td md-cell>{{dessert.email}}</td>
                    <td md-cell>{{dessert.telf_celular}}</td>
                    <td md-cell>
                         <md-button class="md-fab md-mini md-primary" aria-label="Use Android" ng-click="iditem(dessert)">
                          <md-icon md-svg-src="img/icons/ic_edit_white_24px.svg" style="color: #DDDDDD!important;"></md-icon>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}" md-limit="query.num_registros" md-limit-options="[5, 10, 15]" md-page="query.pagina_actual" md-total="{{desserts.total}}" md-on-paginate="getDesserts" md-page-select>
    </md-table-pagination>
</div>