<md-dialog ng-controller="addItemController">
    <form name="registroForm" id="registroForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Crear Nómina</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:600px;">
          <div>
            <md-content layout-padding layout-wrap>
                <div layout-gt-xs="row">
                  <md-input-container class="md-block" flex-gt-xs >
                      <label>Id Empresa:</label>
                      <input type="text" name="id" ng-model="data.id" />
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-xs>
                    <label>Periodicidad</label>
                    <md-select ng-model="data.periodicidad" name="periodicidad" required>
                        <md-option value="Diario">Diario</md-option>
                        <md-option value="Semanal">Semanal</md-option>
                        <md-option value="Quincenal">Quincenal</md-option>
                        <md-option value="Mensual">Mensual</md-option>
                    </md-select>
                    <div class="errors" ng-messages="registroForm.periodicidad.$error" ng-if="periodicidad.$dirty">
                        <div ng-message="required">Required</div>
                    </div>
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-xs >
                      <label>Nombre / Descripción</label>
                      <input type="text" required name="descripcion" ng-model="data.descripcion" />
                      <div ng-messages="registroForm.descripcion.$error">
                          <div ng-message="required">Nombre / Descripción Requerido</div>
                      </div>
                  </md-input-container>
                </div>
                <div layout-gt-xs="row">
                  <md-input-container class="md-block" flex-gt-xs>
                      <label>Registro Patronal</label>
                      <input type="text" required name="registro_patronal" ng-model="data.registro_patronal" />
                      <div ng-messages="registroForm.registro_patronal.$error">
                          <div ng-message="required">Registro Patronal Requerido</div>
                      </div>
                  </md-input-container>

                  <md-input-container class="md-block" flex-gt-xs>
                      <label>Días</label>
                      <input type="number" required name="dias" ng-model="data.dias" />
                      <div ng-messages="registroForm.dias.$error">
                          <div ng-message="required">Días Requeridos</div>
                      </div>
                  </md-input-container>
                </div>
                <div layout-gt-xs="row">
                  <md-input-container class="md-block" flex-gt-xs>
                      <label>Expedido en</label>
                      <input type="text" required name="sucursal_nombre" id="sucursal_nombre" ng-model="data.sucursal_nombre" />
                      <div ng-messages="registroForm.sucursal_nombre.$error">
                          <div ng-message="required">Sucursal</div>
                      </div>
                  </md-input-container>
                  <md-datepicker ng-model="data.fecha_inicio" required name="data.fecha_inicio" md-placeholder="Fecha de Inicio"></md-datepicker>
                  <div ng-messages="registroForm.data.fecha_inicio.$error">
                        <div ng-message="required">Días Requeridos</div>
                    </div>
                </div>
            </md-content>
          </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-warn md-raised md-hue-2" ng-click="ctrl.cancel()"> Cancelar </md-button>
            <span flex></span>
            <md-button class="md-raised md-primary" type="submit" ng-click="modificar_nomina()" ng-disabled="registroForm.$invalid">
              Modificar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>