<div flex-xs layout="column" flex-gt-md="30" ng-controller="info_perfilCtrl">
    <md-card>
        <md-card-actions layout="row" layout-align="center center">
          <md-button class="md-accent md-raised" ng-click="editinfo()">
            Editar
          </md-button>
        </md-card-actions>
        <div layout="row" layout-align="center center">
            {{localStorage.nombre_comercial}}
        </div>
        <md-card-content>
            <p>{{localStorage.activitidad}}</p>
            <md-list>
              <md-subheader class="md-no-sticky">Telefonos</md-subheader>
                <md-list-item class="md-2-line" ng-repeat="telefono in localStorage.telefonos">
                  <ng-md-icon class="md-accent" icon="phone"></ng-md-icon>
                  <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                    <h3>{{telefono.dato}} </h3>
                    <p> {{telefono.tipo}} </p>
                  </div>
                  <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon" aria-label="call">
                    <md-icon md-svg-icon="{{phone.options.actionIcon}}"></md-icon>
                  </md-button>
                </md-list-item>
            </md-list>  
        </md-card-content>
        <md-card-content>
            {{sucursal.direccion}}
        </md-card-content>
    </md-card>
</div>
<div flex-xs layout="column" flex-gt-md="70">
    <md-card>
    Area publicaciones,  en proceso
    </md-card>
</div>