<md-dialog ng-controller="addItemCategorias">
    <form name="registroForm" id="registroForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Crear Categorias</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:600px;">
          <div>
            <md-content layout-padding layout-wrap>
                <div layout-gt-xs="row">
                  <md-input-container class="md-block" flex-gt-xs >
                      <label>Nombre Categoria</label>
                      <input type="text" required name="nombre" ng-model="data.nombre" />
                      <div ng-messages="registroForm.nombre.$error">
                          <div ng-message="required">Código / Descripción Requerido</div>
                      </div>
                  </md-input-container>

                  <md-input-container class="md-block" flex-gt-xs >
                      <label>Descripción</label>
                      <input type="text" required name="descripcion" ng-model="data.descripcion" />
                      <div ng-messages="registroForm.descripcion.$error">
                          <div ng-message="required">Nombre / Descripción Requerido</div>
                      </div>
                  </md-input-container>
                </div>

                <div layout-gt-xs="row">  
                  <md-input-container class="md-icon-float md-block" flex-gt-sm>
                    <label>Tipo Categorias</label>
                    <md-select ng-model="data.tipo_categoria" name="tipo_categoria" required>
                        <md-option ng-repeat="tipo_categoria in tipo_categorias" value="{{tipo_categoria.id}}">
                            {{tipo_categoria.nombre}}
                        </md-option>
                    </md-select>
                    <div ng-messages="articulosForm.grupo.$error">
                        <div ng-message="required">Tipo Categorias Requerido</div>
                    </div>
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-xs ></md-input-container>
                </div>
            </md-content>
          </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-warn md-raised md-hue-2" ng-click="ctrl.cancel()"> Cancelar </md-button>
            <span flex></span>
            <md-button class="md-raised md-primary" type="submit" ng-click="guardar_categorias()" ng-disabled="registroForm.$invalid">
              Guardar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>