<header class="header header-transparent header-waterfall ui-header ">
    <span class="header-logo">Nextbook, Red de Negocios</span>
    <nav class="tab-nav pull-right hidden-xx">
        <ul class="nav nav-list">
            <li class="dropdown">
                <a class="dropdown-toggle text-black waves-attach waves-effect text-write" data-toggle="dropdown">
                    <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a class="padding-right-lg waves-attach waves-effect" ng-href="#/salir/159">
                            <span class="icon icon-lg margin-right">exit_to_app</span> Cerrar Session
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<div class="container header-dc">
    <md-content>
        <div layout="row" layout-align="center center">
            <h1 layout="column" layout-align="center ">Seleccionar Sucursal</h1>
        </div>
        <div layout="row" layout-align="center center">
            <div class="col-lg-8 col-md-8">
                <div class="card card-brand-accent margin-bottom-no">
                    <div class="card-main">
                        <div class="card-inner">
                            <p><i class="icon icon-lg">pages</i> mmm.. interesante usted tiene más de una sucursal, seleccione con cual le gustaría empezar a trabajar.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="card ">
                    <div class="card-main">
                        <div class="card-inner">
                            <form action="" method="POST" role="form">
                                <div class="form-group form-group-label">
                                    <label class="floating-label">
                                        <i class="icon icon-lg">search</i>
                                        Buscar por: nombre comercial, direccion, codigo sucursal
                                    </label>
                                    <input class="form-control" type="text" ng-model="search">
                                    <div class="form-help">
                                        encontrado {{(products | filter:search).length}} de  {{products.length}}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
    </md-content>
    <div layout="row" layout-wrap>
        <md-card flex = 20 ng-repeat="items in products | filter:search">
          <img src="images/samples/x1.jpg" class="md-card-image">
          <md-card-content>
            <p>{{items.sucursal}},</p>
            <p>{{items.direccion}},</p>
            <p>Codigo:{{items.codigo}}</p>
          </md-card-content>
          <div class="md-actions" layout="row" layout-align="end center" >
            <md-button href="#/My-space" ng-click="SetSucursal($index)">Entrar</md-button>
          </div>
        </md-card>
    </div>    
</div>
