<div aria-hidden="true" class="modal fade" id="modal_lista_img" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-heading">
                <a class="modal-close" data-dismiss="modal">×</a>
                <h2 class="modal-title">IMÁGENES</h2>
            </div>
            <div class="modal-inner">
                <div class="col-lg-12">
                    <div class="col-lg-2">
                        <a class="btn" ng-click="show_select_img('images/users/perfil.png')"><img class="img-responsive" src="images/users/perfil.png"></a>
                    </div>
                     <div class="col-lg-2">
                        <a class="btn" ng-click="show_select_img('images/users/x1.jpg')"><img class="img-responsive" src="images/users/x1.jpg"></a>
                    </div>
<!--                     <div class="col-lg-2">
                        <a class="btn" ng-click="show_select_img('images/samples/mat1.jpg')"><img class="img-responsive" src="images/samples/mat1.jpg"></a>
                    </div>
                    <div class="col-lg-2">
                        <a class="btn" ng-click="show_select_img('images/samples/mat1.jpg')"><img class="img-responsive" src="images/samples/mat1.jpg"></a>
                    </div>
                    <div class="col-lg-2">
                        <a class="btn" ng-click="show_select_img('images/samples/mat1.jpg')"><img class="img-responsive" src="images/samples/mat1.jpg"></a>
                    </div>
                    <div class="col-lg-2">
                        <a class="btn" ng-click="show_select_img('images/samples/mat1.jpg')"><img class="img-responsive" src="images/samples/mat1.jpg"></a>
                    </div> -->
                </div>
            </div>
            <div class="modal-footer">
                <p class="text-right">
                    <button class="btn btn-flat btn-brand waves-attach" data-dismiss="modal" type="button">CANCELAR</button>
                    <button class="btn btn-flat btn-brand waves-attach" data-dismiss="modal" type="button">ACEPTAR</button>
                </p>
            </div>
        </div>
    </div>
</div>