<div class="modal modal-va-middle fade" id="modal_download">
          	<div class="modal-dialog modal-xs">
			<div class="modal-content">
				<div class="modal-inner">
				<a facebook class="facebookShare" data-url='http://google.com' data-shares='shares'>{{ shares }}</a>
<div class="form-group form-group-label control-focus">
                    <label class="floating-label"><span class="icon icon-lg">play_arrow</span>LINK</label>
                    <input class="form-control ng-not-empty ng-valid-parse ng-valid" type="text" aria-invalid="false" value="{{fileUrl}}">
                </div>

				</div>
				<div class="modal-footer">
					<p class="text-right"><a class="btn btn-brand waves-attach waves-light" data-dismiss="modal">COMPARTIR</a></p>
				</div>
			</div>
		</div>
        </div>

