<md-dialog ng-cloak ng-controller="modal_select_sucursal_categoriactrl">
    <form ng-submit="set_categoria()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Actualización Información</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>¿Hablanos un poco, a que se dedíca tu empresa?</h2>
                <md-input-container class="md-block" flex-gt-xs>
                    <label class="text-brand">Categorías</label>
                    <md-select name="myselect" id="categoria" ng-change="update()" ng-model="data_cat.categoria" required>
                        <md-option ng-repeat="state in states" value="{{state.id}}">
                            {{state.nombre}}
                        </md-option>
                    </md-select>
                    <div ng-messages="formreg.myOption.$error">
                        <div ng-message="required">myselect is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label class="floating-label" for="...">Descripción</label>
                    <textarea class="form-control textarea-autosize" id="descripcion" rows="5" ng-model="data_cat.descripcion" rows="1"></textarea>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-accent md-raised" type="submit">
                Guardar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>