<!-- <md-dialog aria-label="Mango (Fruit)">  
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Actualziación Información</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
    ¿A QUÉ SE DEDICA TU EMPRESA?
        <form>
            <label class="text-brand">Categorías</label>
            <md-select  name="myselect" id="categoria" ng-change="update()" ng-model="categoria" required>
                <md-option ng-repeat="state in states" value="{{state.id}}">
                    {{state.nombre}}
                </md-option>
            </md-select>
            <div ng-messages="formreg.myOption.$error">
                <div ng-message="required">myselect is required.</div>
            </div>
        </form>

        <form name="formreg">
            <md-input-container flex-gt-xs ng-show="elementview" class="md-block animated zoomIn" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                <label><span class="icon icon-lg">play_arrow</span> Correo</label>
                <input autocomplete="off" ng-model="correo" name="correo" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                <div ng-messages="formreg.correo.$error" ng-show="formreg.correo.$dirty">
                  <div ng-message="required">Campo Requerido</div>
                  <div ng-message="pattern" class="my-message">correo invalido</div>
                </div>
            </md-input-container>
            <md-input-container flex-gt-xs ng-show="elementview" class="md-block pull-right animated zoomIn" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                <md-button class="md-raised md-primary" ng-click="registrar()" ng-disabled="formreg.$invalid" >Enviar</md-button>
            </md-input-container>
            <div ng-show="elemennotview">                
                <img src="images/welcome/reddenegios.png" class="animated zoomIn" ng-show="elemennotview">
                <h2 class="content-sub-heading" >
                    <span class="text-brand-accent">Ingresa</span>fácil, <span class="text-brand-accent">rápido</span>,
                    efectivo y <span class="text-brand-accent">gratis</span>. 
                    Publica tú negocio y <span class="text-brand-accent">muéstrate</span>
                    al mundo, seguro incrementarás tús ventas.
                </h2>
            </div>
        </form> 
    </md-dialog-content>
  </form>
</md-dialog> -->

<md-dialog ng-cloak ng-controller="update-informacion-Ctrl">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Actualziación Información</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
        <md-content layout-padding layout-wrap>
            <form name="formreg">
                <md-autocomplete ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" md-search-text="ctrl.searchText" md-selected-item-change="ctrl.selectedItemChange(item)" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.display" md-min-length="0" placeholder="What is your favorite US state?">
                    <md-item-template>
                      <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                    </md-item-template>
                    <md-not-found>
                      No matches found for "{{ctrl.searchText}}".
                    </md-not-found>
                  </md-autocomplete>


                
                <md-input-container class="md-block">
                    <label>Hablanos un poco, a que se dedica tu empresa</label>
                    <textarea name="description" ng-model="description" required md-maxlength="150"></textarea>
                    <div ng-messages="formreg.description.$error" ng-show="formreg.description.$dirty">
                      <div ng-message="required">Campo Requerido.</div>
                      <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                    </div>
                </md-input-container>

                <md-input-container flex-gt-xs class="md-block pull-right animated zoomIn" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                    <md-button class="md-raised md-primary" ng-click="registrar()" ng-disabled="formreg.$invalid" >Enviar</md-button>
                </md-input-container>
                <div ng-show="elemennotview">                
                    <img src="images/welcome/reddenegios.png" class="animated zoomIn" ng-show="elemennotview">
                    <h2 class="content-sub-heading" >
                        <span class="text-brand-accent">Ingresa</span>fácil, <span class="text-brand-accent">rápido</span>,
                        efectivo y <span class="text-brand-accent">gratis</span>. 
                        Publica tú negocio y <span class="text-brand-accent">muéstrate</span>
                        al mundo, seguro incrementarás tús ventas.
                    </h2>
                </div>
            </form> 
        </md-content>      
    </md-dialog-content>
   
</md-dialog>