<md-content layout-padding flex-gt-md="100" ng-controller="factutasFiCtrl as ctrl">
    <form name="facturasfisicasForm" ng-submit="$event.preventDefault()">
        <div layout-gt-sm="row">
            <md-autocomplete flex required
                md-input-name="autocompleteField"
                md-input-minlength="1"
                md-input-maxlength="13"
                md-no-cache="ctrl.noCache"
                md-selected-item="ctrl.selectedItem"
                md-search-text="ctrl.searchText"
                md-items="item in items | filter:ctrl.searchText"
                md-item-text="item.ruc"
                md-require-match
                md-floating-label="Ruc">
              <md-item-template >
                <span md-highlight-text="ctrl.searchText" ng-click="ctrl.cargar(item)">{{item.ruc + ' ' + item.razon_social}}</span>
              </md-item-template>
              <div ng-messages="facturasfisicasForm.autocompleteField.$error" ng-if="facturasfisicasForm.autocompleteField.$touched">
                <div ng-message="required">Seleccione un Ruc</div>
                <div ng-message="md-require-match">Por favor seleccione un Ruc existente.</div>
                <div ng-message="minlength">Su entrada no es lo suficientemente larga.</div>
                <div ng-message="maxlength">La entrada es demasiado larga.</div>
              </div>
            </md-autocomplete>

            <md-input-container class="md-icon-float md-block" flex-gt-sm>
                <md-icon class="md-accent">search</md-icon>
                <label>Id Proveedor</label>
                <input type="text" name="id_proveedor" ng-model="data.id_proveedor" />
                <div ng-messages="facturasfisicasForm.id_proveedor.$error">
                    <div ng-message="required">Id Proveedor Requerido</div>
                </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block" flex-gt-sm>
                <md-icon class="md-accent">search</md-icon>
                <label>Razon Social</label>
                <input type="text" name="razon_social" ng-model="data.razon_social" />
                <div ng-messages="facturasfisicasForm.razon_social.$error">
                    <div ng-message="required">Razon Social Requerido</div>
                </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block" flex-gt-sm>
                <md-icon class="md-primary">airplay</md-icon>
                <label>Serie</label>
                <input type="text" name="serie" ng-model="data.serie" />
                <div ng-messages="facturasfisicasForm.serie.$error">
                    <div ng-message="required">Serie Requerido</div>
                </div>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-icon-float md-block" flex-gt-sm>
                <md-icon class="md-accent">airplay</md-icon>
                <label>Tipo de Consumo</label>
                <md-select ng-model="data.tipo_consumo" name="tipo_consumo" required>
                    <md-option ng-repeat="gasto in consumo" value="{{gasto.tipo}}">
                        {{gasto.tipo}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-icon-float md-block" flex-gt-sm>
                <md-icon class="md-accent">airplay</md-icon>
                <label>Tipo de Documento</label>
                <md-select ng-model="data.tipo_documento" name="tipo_documento" required>
                    <md-option ng-repeat="gasto in gastos" value="{{gasto.tipo}}">
                        {{gasto.tipo}}
                    </md-option>
                </md-select>
            </md-input-container>

            <mdp-date-picker mdp-open-on-click required mdp-placeholder="Fecha Emisión" mdp-format="YYYY-MM-DD" name="fecha_emision" ng-model="data.fecha_emision">
                <div ng-messages="facturasfisicasForm.fecha_emision.$error">
                  <div ng-message="required">Campo Requerido</div>
                  <div ng-message="format">Formato Invalido</div>
                </div>
            </mdp-date-picker>

            <mdp-date-picker mdp-open-on-click required mdp-placeholder="Fecha Creación" mdp-format="YYYY-MM-DD" name="feha_creacion" ng-model="data.feha_creacion">
                <div ng-messages="facturasfisicasForm.feha_creacion.$error">
                  <div ng-message="required">Campo Requerido</div>
                  <div ng-message="format">Formato Invalido</div>
                </div>
            </mdp-date-picker>           
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-icon-float md-block" flex-gt-sm>
                <label>Código Producto</label>
                <input type="text"  required name="codigo" ng-model="data.codigo" />
                <div  class="error" ng-messages="facturasfisicasForm.codigo.$error">
                    <div ng-message="required">Código Requerido</div>
                </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block" flex-gt-sm>
                <label>Detalle Producto</label>
                <input type="text" required name="detalle" ng-model="data.detalle" />
                <div ng-messages="facturasfisicasForm.detalle.$error">
                    <div ng-message="required">Detalle Requerido</div>
                </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block" flex-gt-sm>
                <label>Cantidad</label>
                <input type="text" required name="cantidad" ng-model="data.cantidad">
                <div ng-messages="facturasfisicasForm.cantidad.$error">
                    <div ng-message="required">Cantidad Requerido</div>
                </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block" flex-gt-sm>
                <label>Precio</label>
                <input type="text" required name="precio" ng-model="data.precio">
                <div ng-messages="facturasfisicasForm.precio.$error">
                    <div ng-message="required">Precio Requerido</div>
                </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block" flex-gt-sm>
                <label>Precio Total</label>
                <input type="text" required name="precio_total" ng-model="data.precio_total">
                <div ng-messages="facturasfisicasForm.precio_total.$error">
                    <div ng-message="required">Precio Total Requerido</div>
                </div>
            </md-input-container>             
        </div>

        <div layout-gt-sm="row">
            <md-content flex-gt-md="100">
                <md-toolbar ng-hide="selected.length || filter.show">
          <div class="md-toolbar-tools">
            Listado Proveedores
            <span flex></span>
            <md-button class="md-icon-button" ng-click="filter.show = true">
                <md-icon>search</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="addititem($event)">
                <md-icon>note_add</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="loadStuff($event)">
                <md-icon>autorenew</md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-toolbar class="md-table-toolbar md-default" ng-show="filter.show && !selected.length">
            <div class="md-toolbar-tools">
                <md-icon>search</md-icon>
                <form flex name="filter.form">
                    <input type="text" ng-model="query.filter" ng-model-options="filter.options" placeholder="Buscar, Proveedores">
                </form>
                <md-button class="md-icon-button" ng-click="removeFilter()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-table-container>
            <table md-table md-progress="promise">
                <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                    <tr md-row>
                        <th md-column md-numeric>RUC</th>
                        <th md-column md-numeric>RAZÓN SOCIAL</th>
                        <th md-column md-numeric>NOMBRE COMERCIAL</th>
                        <th md-column md-numeric>DIRECCIÓN MATRIZ</th>
                        <th md-column md-numeric>DIRECCIÓN ESTABLECIMIENTO</th>
                    </tr>
                </thead>
                
                <tbody md-body>
                    <tr md-row ng-repeat="dessert in desserts.data">
                        <td md-cell>{{dessert.ruc}}</td>
                        <td md-cell>{{dessert.razon_social}}</td>
                        <td md-cell>{{dessert.nombre_comercial}}</td>
                        <td md-cell>{{dessert.dir_matriz}}</td>
                        <td md-cell>{{dessert.dir_establecimiento}}</td> 
                    </tr>
                </tbody>
            </table>
        </md-table-container>
            </md-content>
        </div>

        <div layout-gt-sm="row">
            <md-content flex-gt-md="80"></md-content>
            <md-content flex-gt-md="20">
                <md-input-container class="md-icon-float md-block">
                  <label>Tarifa 0 %</label>
                  <input ng-model="data.tarifa0" type="text">
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                  <label>Tarifa 14 %</label>
                  <input ng-model="data.tarifa0" type="text">
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                  <label>Subtotal</label>
                  <input ng-model="data.subtotal" type="text">
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                  <label>Iva</label>
                  <input ng-model="data.iva" type="text">
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                  <label>Descuento</label>
                  <input ng-model="data.descuento" type="text">
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                  <label>Total</label>
                  <input ng-model="data.total" type="text">
                </md-input-container>
            </md-content>     
        </div>
        
        <div layout-gt-sm="row" class="center end">
            <md-button class="md-raised md-primary" type="submit" ng-disabled="facturasfisicasForm.$invalid">
                Guardar <i class="fa fa-angle-double-right"></i>
            </md-button>
            <md-button class="md-raised md-accent" type="reset">
                Limpiar <i class="fa fa-trash-o"></i>
            </md-button>
        </div>
    </form>
</md-content>