<main class="content">
    <div class="content-header ui-content-header">
    <h1>Welcome Facturanext</h1>
    </div>
    <div class="container">        
        <div class="row">
        	<div class="col-lg-10 col-lg-offset-1">
            <!-- <div class="col-lg-12"> -->
                <section class="content-inner margin-top-no">
                    <nav class="tab-nav tab-nav-green  ui-tab">
                        <ul class="nav nav-justified">
                            <li ng-class="{active: ('dashboard.facturanext.inicio' | routeSegmentStartsWith)}">
                                <a class="waves-attach waves-light waves-effect" href="#{{'dashboard.facturanext.inicio' | routeSegmentUrl}}">
                                    <span class="text-white"><span class="icon">home</span> Inicio</span>
                                </a>
                            </li>
                            <li ng-class="{active: ('dashboard.facturanext.misfacturas' | routeSegmentStartsWith)}">
                                <a class="waves-attach waves-light waves-effect" href="#{{'dashboard.facturanext.misfacturas' | routeSegmentUrl}}">
                                    <span class="text-white"><span class="icon">store</span> Mis Facturas</span>
                                </a>
                            </li>
                            <li ng-class="{active: ('dashboard.facturanext.subirfactura' | routeSegmentStartsWith)}">
                                <a class="waves-attach waves-light waves-effect" href="#{{'dashboard.facturanext.subirfactura' | routeSegmentUrl}}">
                                    <span class="text-white"><span class="icon">file_upload</span> Subir Fac. Electrónica</span>
                                </a>
                            </li>   
                            <li ng-class="{active: ('dashboard.facturanext.facturasrechasadas' | routeSegmentStartsWith)}">
                                <a class="waves-attach waves-light waves-effect" href="#{{'dashboard.facturanext.facturasrechasadas' | routeSegmentUrl}}">
                                    <span class="text-white"><span class="icon">block</span> Fac. Rechazadas</span>
                                </a>
                            </li>                         
                            <li ng-class="{active: ('dashboard.facturanext.facturasfisicas' | routeSegmentStartsWith)}">
                                <a class="waves-attach waves-light waves-effect" href="#{{'dashboard.facturanext.facturasfisicas' | routeSegmentUrl}}">
                                    <span class="text-white"><span class="icon">create</span> Crear Fac. Fisicas</span>
                                </a>
                            </li>
                            <li ng-class="{active: ('dashboard.facturanext.proveedores' | routeSegmentStartsWith)}">
                                <a class="waves-attach waves-light waves-effect" href="#{{'dashboard.facturanext.proveedores' | routeSegmentUrl}}">
                                    <span class="text-white"><span class="icon">business</span> Proveedores</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div app-view-segment="2"></div>
            </div>
        </div>
    </div>
</main>
