<table id="example" class="mdl-data-table" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Numero de Factura</th>
            <th>Ruc del Proveedor</th>
            <th>Ambiente</th>
            <th>Fecha emision</th>
            <th>Nombre Comercial</th>
            <th>Tipo de Documento</th>
            <th>Total</th>
            <th>Configuración</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Numero de Factura</th>
            <th>Ruc del Proveedor</th>
            <th>Ambiente</th>
            <th>Fecha emision</th>
            <th>Nombre Comercial</th>
            <th>Tipo de Documento</th>
            <th>Total</th>
            <th>Configuración</th>
        </tr>
    </tfoot>
    <tbody>
        
    </tbody>
</table>


