<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>Nutrition</span>
  </div>
</md-toolbar>

<!-- exact table from live demo -->
<md-table-container>
  <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
    <thead md-head md-order="query.order" md-on-reorder="getDesserts">
      <tr md-row>
        <th md-column md-order-by="nameToLower"><span>Nro Factura</span></th>
        <th md-column md-numeric md-order-by="calories.value"><span>Proveedor</span></th>
        <th md-column md-numeric>F. Emisión</th>
        <th md-column md-numeric>Nombre Comercial</th>
        <th md-column md-numeric>Tipo</th>
        <th md-column md-numeric>Total</th>
        <th md-column md-numeric>Config</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="dessert in desserts.data">
        <td md-cell>{{dessert.name}}</td>
        <td md-cell>{{dessert.calories.value}}</td>
        <td md-cell>{{dessert.fat.value | number: 1}}</td>
        <td md-cell>{{dessert.carbs.value}}</td>
        <td md-cell>{{dessert.protein.value | number: 1}}</td>
        <td md-cell>{{dessert.sodium.value}}</td>
        <td md-cell>{{dessert.calcium.value}}{{dessert.calcium.unit}}</td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
<table id="example" class="mdl-data-table" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Numero de Factura</th>
            <th>Ruc del Proveedor</th>
            <th>Ambiente</th>
            <th>Fecha emision</th>
            <th>Nombre Comercial</th>
            <th>Tipo de Documento</th>
            <th>Total</th>
            <th>Configuración</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Numero de Factura</th>
            <th>Ruc del Proveedor</th>
            <th>Ambiente</th>
            <th>Fecha emision</th>
            <th>Nombre Comercial</th>
            <th>Tipo de Documento</th>
            <th>Total</th>
            <th>Configuración</th>
        </tr>
    </tfoot>
    <tbody>
        
    </tbody>
</table>


