<md-content layout-padding flex-gt-md="100" ng-controller="proveedoresCtrl">
    <form name="proveedoresForm" ng-submit="guardar_proveedor()">
        <div layout-gt-sm="row">
            <md-input-container class="md-icon-float md-block" flex-gt-sm>
                <md-icon class="md-primary">airplay</md-icon>
                <label>Código Proveedor</label>
                <input type="text" name="codigo_proveedor" id="codigo_proveedor" ng-model="data.codigo_proveedor" disabled />
                <div ng-messages="proveedoresForm.codigo_proveedor.$error">
                    <div ng-message="required">Código Requerido</div>
                </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block" flex-gt-sm>
                <md-icon class="md-accent">airplay</md-icon>
                <label>Ruc</label>
                <input md-maxlength="13" type="text" required name="ruc" ng-model="data.ruc" />
                <div ng-messages="proveedoresForm.ruc.$error">
                    <div ng-message="required">Ruc Requerido</div>
                    <div ng-message="md-maxlength">El Ruc tiene que tener mínimo 13 caracteres</div>
                </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block" flex-gt-sm>
                <md-icon class="md-accent">airplay</md-icon>
                <label>Razon Social</label>
                <input type="text" required name="razon_social" ng-model="data.razon_social" />
                <div ng-messages="proveedoresForm.razon_social.$error">
                    <div ng-message="required">Razon Social Requerido</div>
                </div>
            </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container class="md-icon-float md-block" flex-gt-sm>
                <md-icon class="md-accent">airplay</md-icon>
                <label>Nombre Comercial</label>
                <input type="text"  required name="nombre_comercial" ng-model="data.nombre_comercial" />
                <div  class="error" ng-messages="proveedoresForm.nombre_comercial.$error">
                    <div ng-message="required">Nombre Comercial Requerido</div>
                </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block" flex-gt-sm>
                <md-icon class="md-accent">airplay</md-icon>
                <label>Dirección Matriz</label>
                <input type="text" required name="dir_matriz" ng-model="data.dir_matriz" />
                <div ng-messages="proveedoresForm.dir_matriz.$error">
                    <div ng-message="required">Dirección Matriz Requerido</div>
                </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block" flex-gt-sm>
                <md-icon class="md-accent">airplay</md-icon>
                <label>Dirección Establecimiento</label>
                <input type="text" required name="dir_establecimiento" ng-model="data.dir_establecimiento">
                <div ng-messages="proveedoresForm.dir_establecimiento.$error">
                    <div ng-message="required">Dirección Establecimiento Requerido</div>
                </div>
            </md-input-container>            
        </div>
        
        <div layout-gt-sm="row" class="center end">
            <md-button class="md-raised md-primary" type="submit" ng-disabled="proveedoresForm.$invalid">
                Guardar <i class="fa fa-angle-double-right"></i>
            </md-button>
            <md-button class="md-raised md-accent" type="reset">
                Limpiar <i class="fa fa-trash-o"></i>
            </md-button>
        </div>
    </form>
</md-content>