 <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="40" layout="column">
		<form name="userForm">
    	    	<md-input-container id="label_clave" class="md-block" md-cols-lg="8">
	                <label>Ingrese clave de acceso de tu documento</label>
	                <input id="input_clave" ng-model="data.clave" md-maxlength="49" md-select-on-focus ></input>
	            </md-input-container>
	            <md-input-container class="md-block" flex-gt-sm>
	                <label>Tipo de Consumo</label>
	                <md-select ng-model="tipo">
	                    <md-option ng-repeat="gasto in gastos" value="{{gasto.tipo}}">
	                        {{gasto.tipo}}
	                    </md-option>
	                </md-select>
	            </md-input-container>
	            <div class="md-block" flex-gt-sm>
	            	<button class="btn btn-brand waves-attach waves-light" ng-click="upload_xml()"><span class="icon">check</span> Guardar</button>
	            </div>
	    </form>
	</div>
	<div flex-xs flex-gt-xs="20" layout="column">
		<md-button ng-click="btn_upload_file()" data-toggle="modal" data-target="#myModal">
			<span class="icon">file_upload</span>Archivo XMl
		</md-button>
	</div>
	<div flex-xs flex-gt-xs="40" layout="column">
		<img width="100%" alt="150x150" src="images/facturanext/factura.png" />
	</div>    
</md-content>
<!-- Modal -->
<div aria-hidden="true" class="modal modal-va-middle fade" id="myModal" role="dialog" tabindex="-1">
		<div class="modal-dialog modal-xs">
			<div class="modal-content">
				<div class="modal-inner">
					<p class="h5 margin-top-sm text-black-hint">SELECCIONE EL ARCHIVO</p>
				<input type="file" ng-model="xml_file" on-read-file="showContent($fileContent)" />
				</div>
				<div class="modal-footer">
					<p class="text-right"><a class="btn btn-flat btn-brand-accent waves-attach waves-effect" data-dismiss="modal">CANCELAR</a><a class="btn btn-flat btn-brand-accent waves-attach waves-effect" ng-click="set_clave()" data-dismiss="modal">ACEPTAR</a></p>
				</div>
			</div>
		</div>
	</div>
