<div id="gridContainer" ng-controller="radioadminCtrl">
    <div class="row">
        <div class="col-md-4 animated bounceInDown" ng-repeat="item in appslist">       
            <div class="card">
                <div class="card-main">
                    <div class="card-img">
                        <img alt="alt text" src="images/samples/x2.jpg" style="width: 100%;">
                        <h2 class="card-img-heading">{{item.title}} <span class="icon">play_arrow</span></h2>
                    </div>             
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="mainbody-section text-center">
    <div class="container">
        <core-animated-pages selected="0" transitions="cross-fade">

  <section vertical layout center><h1 cross-fade>Hello World</h1></section>
    <core-animated-pages>
        <div class="row">
            <div class="col-md-3 animated bounceInDown">

                <div class="menu-item azul">
                    <a href="#/empresa">
                        <i class="fa fa-building"></i>
                        <p>Empresa</p>
                    </a>
                </div>

                <div class="menu-item color">
                    <a href="#/ficha_ingresos" >
                        <i class="fa fa-clipboard"></i>
                        <p>Ficha Ingreso</p>
                    </a>
                </div>
                
                <div class="menu-item azul">
                    <a href="">
                        <i class="fa fa-file-text"></i>
                        <p>Contrato Rotativo</p>
                    </a>
                </div>
                
            </div>

            <div class="col-md-3 animated bounceInUp">
                <div class="menu-item verde">
                    <a href="#/clientes">
                        <i class="fa fa-user"></i>
                        <p>Clientes</p>
                    </a>
                </div>
                
                <div class="menu-item light-red">
                    <a href="#/ficha_invitados" >
                        <i class="fa fa-headphones"></i>
                        <p>Ficha Invitados</p>
                    </a>
                </div>
                
                <div class="menu-item verde">
                    <a href="#/facturas">
                        <i class="fa fa-user"></i>
                        <p>Facturación</p>
                    </a>
                </div>
                
            </div>

            <div class="col-md-3 animated bounceInDown">
                <div class="menu-item color">
                    <a href="#/programas">
                        <i class="fa fa-music"></i>
                        <p>Programas</p>
                    </a>
                </div>

                <div class="menu-item azul">
                    <a href="#/ficha_programas" >
                        <i class="fa fa-microphone"></i>
                        <p>Ficha Programas</p>
                    </a>
                </div>

                <div class="menu-item color">
                    <a href="#/rol_pagos">
                        <i class="fa fa-file-archive-o"></i>
                        <p>Rol de Pagos</p>
                    </a>
                </div>
            </div>
            
            <div class="col-md-3 animated bounceInUp">
                <div class="menu-item light-red">
                    <a href="" data-toggle="modal">
                        <i class="fa fa-users"></i>
                        <p>Vendedores</p>
                    </a>
                </div>
                
                <div class="menu-item verde">
                    <a href="#/contratos_selectivos">
                        <i class="fa fa-archive"></i>
                        <p>Contrato Selectivo</p>
                    </a>
                </div>
                
                <div class="menu-item light-red">
                    <a href="#/privilegios">
                        <i class="fa fa-lock"></i>
                        <p>Privilegios</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> -->