<!-- hola inicio administracion radio
<div ng-controller="newCtrl">
	{{ejemplo}}
</div> -->
<!-- <div class="mainbody-section text-center">
    <div class="container">
    	<div class="col-sm-12">
    		<div class="col-sm-4">
    			<md-input-container class="md-icon-float md-block">
                    <label>Name</label>
                    <md-icon class="fa fa-user"></md-icon>
                    <input type="text" required name="name" data-ng-model="vm.message.name">
                </md-input-container>
    		</div>

    		<div class="col-sm-4">
    			<md-input-container class="md-icon-float md-block">
                    <label>Phone</label>
                    <md-icon class="fa fa-phone"></md-icon>
                    <input type="text" required name="phone" data-ng-model="vm.message.phone" pattern="[0-9]{10,12}">
                </md-input-container>
    		</div>

    		<div class="col-sm-4">
    			<md-input-container class="md-icon-float md-block">
                    <label>Your Message</label>
                    <md-icon class="fa fa-clipboard"></md-icon>
                    <input type="text" required name="message" data-ng-model="vm.message.message">
                </md-input-container>
    		</div>

    		<div class="pull-right">
                <md-button class="md-raised md-primary" type="submit">Send <i class="fa fa-angle-double-right"></i></md-button>
                <md-button class="md-raised md-warn" type="reset">Clear <i class="fa fa-trash-o"></i></md-button>
            </div>
    		
    	</div>
    </div>
</div> -->

<div class="mainbody-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-3 animated bounceInDown">
                <div class="menu-item azul">
                    <a href="#/empresa">
                        <i class="fa fa-building"></i>
                        <p>Empresa</p>
                    </a>
                </div>

                <div class="menu-item color">
                    <a href="#/ficha_ingresos" >
                        <i class="fa fa-clipboard"></i>
                        <p>Ficha Ingreso</p>
                    </a>
                </div>
                
                <div class="menu-item azul">
                    <a href="">
                        <i class="fa fa-file-text"></i>
                        <p>Contrato Rotativo</p>
                    </a>
                </div>
                
            </div>

            <div class="col-md-3 animated bounceInUp">
                <div class="menu-item verde">
                    <a href="#/clientes">
                        <i class="fa fa-user"></i>
                        <p>Clientes</p>
                    </a>
                </div>
                
                <div class="menu-item light-red">
                    <a href="#/ficha_invitados" >
                        <i class="fa fa-headphones"></i>
                        <p>Ficha Invitados</p>
                    </a>
                </div>
                
                <div class="menu-item verde">
                    <a href="#/facturas">
                        <i class="fa fa-user"></i>
                        <p>Facturación</p>
                    </a>
                </div>
                
            </div>

            <div class="col-md-3 animated bounceInDown">
                <div class="menu-item color">
                    <a href="#/programas">
                        <i class="fa fa-music"></i>
                        <p>Programas</p>
                    </a>
                </div>

                <div class="menu-item azul">
                    <a href="#/ficha_programas" >
                        <i class="fa fa-microphone"></i>
                        <p>Ficha Programas</p>
                    </a>
                </div>

                <div class="menu-item color">
                    <a href="#/rol_pagos">
                        <i class="fa fa-file-archive-o"></i>
                        <p>Rol de Pagos</p>
                    </a>
                </div>
            </div>
            
            <div class="col-md-3 animated bounceInUp">
                <div class="menu-item light-red">
                    <a href="" data-toggle="modal">
                        <i class="fa fa-users"></i>
                        <p>Vendedores</p>
                    </a>
                </div>
                
                <div class="menu-item verde">
                    <a href="#/contratos_selectivos">
                        <i class="fa fa-archive"></i>
                        <p>Contrato Selectivo</p>
                    </a>
                </div>
                
                <div class="menu-item light-red">
                    <a href="#/privilegios">
                        <i class="fa fa-lock"></i>
                        <p>Privilegios</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>