<div layout-xs="column" layout="row" ng-controller="Detalle-Ctrl">  
    <style type="text/css">
        .starter-template {
            padding: 30px 5px;
            /*text-align: center;*/
        }    
    </style>

    <md-sidenav class="md-sidenav-left md-whiteframe-z2" flex-xs layout="column" flex-gt-md="20" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <img ng-src="{{imgLogo}}" class="md-card-image" alt="Banner Perfil">
            <div layout="column" class="md-toolbar-tools-bottom inset" style="position: fixed;">
            <span flex></span>
            <div class="header-card-perfil" style="position: static; margin-bottom: 10px;">
            <span flex></span>
                <md-button class="md-icon-button" aria-label="More">
                  <ng-md-icon class="md-accent" icon="border_color" ng-click="show_listaimg_modal('logo')"></ng-md-icon>
              </md-button>
              <md-button class="md-icon-button bg-primary" aria-label="More">
                  <ng-md-icon  icon="camera_alt" ng-click="show_upload_img_modal('logo')"></ng-md-icon>
              </md-button>
            </div>
                <user-avatar></user-avatar>
                <span>{{localStorage.nombre_comercial | lowercase}},</span>
                <div>{{localStorage.actividad_economica | lowercase}}</div>
            </div>
        <!-- </md-toolbar> -->
        <md-list ng-cloak>
            <md-list-item ng-click="navigateTo(item.link)" ng-repeat="item in sidenav.menu1">
                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                <p> {{ item.title }}</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Facturas Fisicas</md-subheader>
            <md-list-item ng-click="navigateTo(item.link)" ng-repeat="item in sidenav.menu2">
                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                <p> {{ item.title }}</p>
            </md-list-item>
            <md-subheader class="md-no-sticky">General</md-subheader>
            <md-list-item ng-click="navigateTo(item.link)" ng-repeat="item in sidenav.menu3">
                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                <p> {{ item.title }}</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
                <ng-md-icon icon="exit_to_app"></ng-md-icon>
                <p> Bloquear </p>
            </md-list-item>
            <md-list-item>
                <ng-md-icon icon="aspect_ratio"></ng-md-icon>
                <p> Pantalla Completa </p>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <div flex-xs layout="column" flex-gt-md="60">
        <md-content layout-padding layout-wrap>

                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Detalle Productos Catálogo</h2>
                    </div>
                </md-toolbar>

                <div class="starter-template">
                    <div layout-gt-sm="row">
                        <div id="gallery_01">
                            <a ng-repeat="image2 in imagesForGallery"

                               class="img-group-01"
                               href="{{approot}}{{image2.large}}"

                               ng-click="setActiveImageInGallery('zoomModelGallery01',image2);"
                               data-image="{{approot}}{{image2.small}}"
                               data-zoom-image="{{approot}}{{image2.large}}">

                                <img ng-src="{{approot}}{{image2.thumb}}"/>
                            </a>
                        </div>

                        <img id="zoom_03" ng-src="{{approot}}images/large/image2.jpg" ng-click="setScopeValue('zoom03',true);" ez-plus ezp-model="zoomModelGallery01"
                 ezp-options="zoomOptionsGallery01" />

                        <!-- <colorbox box-for=".img-group-01" open="zoom03" options="annotateColorbox03" /> --><!-- </colorbox> -->
                    </div>
                </div>    
        </md-content>
    </div>

    <div flex-xs layout="column" flex-gt-md="20">
        <md-card>
            <md-card-content>
                
            </md-card-content>   
        </md-card>
    </div>
</div>
