<div layout-xs="column" layout="row" ng-controller="Catalogo-Inicio-Ctrl">
    <style type="text/css">
        html, body {
            margin: 0;
            height: 100%;
        }

        body {
            background-color: #333;
        }

        body.hide-overflow {
            overflow: hidden;
        }

        /* helpers */

        .t {
            display: table;
            width: 90%;
            height: 100%;
        }

        .tc {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        .rel {
            position: relative;
        }

        /* book */

        .book {
            margin: 0 auto;
            width: 90%;
            height: 90%;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .book .page {
            height: 100%;
        }

        .book .page img {
            max-width: 100%;
            height: 100%;
        }
    </style>

    <md-sidenav class="md-sidenav-left md-whiteframe-z2" flex-xs layout="column" flex-gt-md="20" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <!-- <md-toolbar class="md-sidenav-bg1"> -->
        <img ng-src="{{imgLogo}}" class="md-card-image" alt="Banner Perfil">
            <div layout="column" class="md-toolbar-tools-bottom inset" style="position: fixed;">
            <span flex></span>
            <div class="header-card-perfil" style="position: static; margin-bottom: 10px;">
            <span flex></span>
                <md-button class="md-icon-button" aria-label="More">
                  <ng-md-icon class="md-accent" icon="border_color" ng-click="show_listaimg_modal('logo')"></ng-md-icon>
              </md-button>
              <md-button class="md-icon-button bg-primary" aria-label="More">
                  <ng-md-icon  icon="camera_alt" ng-click="show_upload_img_modal('logo')"></ng-md-icon>
              </md-button>
            </div>
                <user-avatar></user-avatar>
                <span>{{localStorage.nombre_comercial | lowercase}},</span>
                <div>{{localStorage.actividad_economica | lowercase}}</div>
            </div>
        <!-- </md-toolbar> -->
        <md-list ng-cloak>
            <md-list-item ng-click="navigateTo(item.link)" ng-repeat="item in sidenav.menu1">
                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                <p> {{ item.title }}</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Facturas Fisicas</md-subheader>
            <md-list-item ng-click="navigateTo(item.link)" ng-repeat="item in sidenav.menu2">
                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                <p> {{ item.title }}</p>
            </md-list-item>
            <md-subheader class="md-no-sticky">General</md-subheader>
            <md-list-item ng-click="navigateTo(item.link)" ng-repeat="item in sidenav.menu3">
                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                <p> {{ item.title }}</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
                <ng-md-icon icon="exit_to_app"></ng-md-icon>
                <p> Bloquear </p>
            </md-list-item>
            <md-list-item>
                <ng-md-icon icon="aspect_ratio"></ng-md-icon>
                <p> Pantalla Completa </p>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <div flex-xs layout="column" flex-gt-md="60">
        <md-content layout-padding layout-wrap>
            <div class="t">
                <div class="tc rel">
                    <div class="book" id="book">
                        <div class="page"><img src="https://raw.github.com/blasten/turn.js/master/demos/magazine/pages/01.jpg" alt="" /></div>
                        <div class="page"><img src="https://raw.github.com/blasten/turn.js/master/demos/magazine/pages/02.jpg" alt="" /></div>
                        <div class="page"><img src="https://raw.github.com/blasten/turn.js/master/demos/magazine/pages/03.jpg" alt="" /></div>
                        <div class="page"><img src="https://raw.github.com/blasten/turn.js/master/demos/magazine/pages/04.jpg" alt="" /></div>
                        <div class="page"><img src="https://raw.github.com/blasten/turn.js/master/demos/magazine/pages/05.jpg" alt="" /></div>
                        <div class="page"><img src="https://raw.github.com/blasten/turn.js/master/demos/magazine/pages/06.jpg" alt="" /></div>
                    </div>
                </div>
            </div>  
        </md-content>
    </div>

    <div flex-xs layout="column" flex-gt-md="20">
        <md-card>
            <div layout="row" layout-align="center center">
                <img ng-src="{{imgPerfil}}" class="avatar" alt="Avatar Perfil">
            </div>
            <md-card-actions layout="row" layout-align="center center">
                <md-button class="md-icon-button" aria-label="More">
                    <ng-md-icon class="md-accent" icon="border_color" ng-click="show_listaimg_modal('perfil')"></ng-md-icon>
                </md-button>
                <md-button class="md-icon-button md-accent" aria-label="More">
                    <ng-md-icon icon="camera_alt" ng-click="show_upload_img_modal('perfil')"></ng-md-icon>
                </md-button>
            </md-card-actions>
            <md-card-content>
                <md-list>
                    <md-list-item class=" md-long-text">
                        {{datos2.razon_social}}
                    </md-list-item>
                    <md-list-item class=" md-long-text">
                        {{datos2.tipo_contribuyente}}
                    </md-list-item>
                    <md-list-item class=" md-long-text">
                        {{datos2.actividad_economica}}
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class=" md-long-text">
                        {{datos2.ruc}}
                    </md-list-item>
                </md-list>
            </md-card-content>

            <img ng-src="{{imgPortada}}" class="md-card-image" alt="Banner Perfil">
        </md-card>
    </div>
</div>
