<div layout-xs="column" layout="row" ng-controller="Parametros-Ctrl" flex-gt-md="100">    
    <md-content layout-padding layout-wrap>
        <form name="productosForm" ng-submit="guardar_productos()">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Parametros</h2>
                </div>
            </md-toolbar>

            <div layout-gt-sm="row">
                <md-input-container class="md-icon-float md-block" flex-gt-sm>
                    <md-icon class="md-primary">airplay</md-icon>
                    <label>Código Producto</label>
                    <input type="text" name="codigo" ng-model="data.codigo" disabled />
                    <div ng-messages="productosForm.codigo.$error">
                        <div ng-message="required">Campo Requerido</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block" flex-gt-sm>
                    <md-icon class="md-accent">airplay</md-icon>
                    <label>Descripción</label>
                    <input type="text" required name="descripcion" id="descripcion" ng-model="data.descripcion" ng-blur="comparar_empleado()" />
                    <div ng-messages="productosForm.descripcion.$error">
                        <div ng-message="required">Descripción Requerido</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block" flex-gt-sm>
                    <md-icon class="md-accent">airplay</md-icon>
                    <label>Nombre Producto</label>
                    <input type="text" required name="nombre" ng-model="data.nombre" />
                    <div ng-messages="productosForm.nombre.$error">
                        <div ng-message="required">Nombre Producto Requerido</div>
                    </div>
                </md-input-container>
            </div>
        </form>
    </md-content>
</div>
