<!-- <div class="row">
	<div class="col-sm-3">
		<div class="card">
			<div class="card-main">
				<div class="card-header">
					<div class="card-header-side pull-left">
						<div class="avatar">
							<img alt="John Smith Avatar" src="images/users/avatar-001.jpg">
						</div>
					</div>
					<div class="card-inner">
						<span class="card-heading">FacturaNext</span>
					</div>
				</div>
				<div class="card-img">
					<img alt="alt text" src="images/samples/x2.jpg" style="width: 100%;">
					<p class="card-img-heading">Repositorio Facturas Electronicas</p>
				</div>
				
				<div class="card-action">
					<div class="card-action-btn pull-left">
						<a class="btn btn-flat waves-attach" href="#{{'dashboard.facturanext.inicio' | routeSegmentUrl}}"><span class="icon">check</span> Entrar</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="card">
			<div class="card-main">
				<div class="card-header">
					<div class="card-header-side pull-left">
						<div class="avatar">
							<img alt="John Smith Avatar" src="images/users/avatar-001.jpg">
						</div>
					</div>
					<div class="card-inner">
						<span class="card-heading">Clientes</span>
					</div>
				</div>
				<div class="card-img">
					<img alt="alt text" src="images/samples/x3.jpg" style="width: 100%;">
					<p class="card-img-heading">Administración Radio</p>
				</div>
				
				<div class="card-action">
					<div class="card-action-btn pull-left">
						<a class="btn btn-flat waves-attach" href="#{{'dashboard.radio.inicio' | routeSegmentUrl}}"><span class="icon">check</span> Entrar</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="card">
			<div class="card-main">
				<div class="card-header">
					<div class="card-header-side pull-left">
						<div class="avatar">
							<img alt="John Smith Avatar" src="images/users/avatar-001.jpg">
						</div>
					</div>
					<div class="card-inner">
						<span class="card-heading">Nómina</span>
					</div>
				</div>
				<div class="card-img">
					<img alt="alt text" src="images/samples/x4.jpg" style="width: 100%;">
					<p class="card-img-heading">Generar Nóminas Personal</p>
				</div>
				
				<div class="card-action">
					<div class="card-action-btn pull-right">
						<md-button class="md-raised md-primary" type="submit" ng-click="modal_nomina()">
			              Ingresar
			            </md-button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="card">
			<div class="card-main">
				<div class="card-header">
					<div class="card-header-side pull-left">
						<div class="avatar">
							<img alt="John Smith Avatar" src="images/users/avatar-001.jpg">
						</div>
					</div>
					<div class="card-inner">
						<span class="card-heading">Ruc</span>
					</div>
				</div>
				<div class="card-img">
					<img alt="alt text" src="images/samples/x5.jpg" style="width: 100%;">
					<p class="card-img-heading">Consultar informacionde Sus clientes</p>
				</div>
				
				<div class="card-action">
					<div class="card-action-btn pull-left">
						<a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;Button</a>
					</div>
					<ul class="nav nav-list margin-no pull-right">
						<li class="dropdown">
							<a class="dropdown-toggle text-black waves-attach" data-toggle="dropdown"><span class="icon">keyboard_arrow_down</span></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_1</span>&nbsp;Lorem Ipsum</a>
								</li>
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_2</span>&nbsp;Consectetur Adipiscing</a>
								</li>
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_3</span>&nbsp;Sed Ornare</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card">
			<div class="card-main">
				<div class="card-header">
					<div class="card-header-side pull-left">
						<div class="avatar">
							<img alt="John Smith Avatar" src="images/users/avatar-001.jpg">
						</div>
					</div>
					<div class="card-inner">
						<span class="card-heading">Record Policial</span>
					</div>
				</div>
				<div class="card-img">
					<img alt="alt text" src="images/samples/x6.jpg" style="width: 100%;">
					<p class="card-img-heading">Consultar Horial Delictivo</p>
				</div>
				
				<div class="card-action">
					<div class="card-action-btn pull-left">
						<a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;Button</a>
					</div>
					<ul class="nav nav-list margin-no pull-right">
						<li class="dropdown">
							<a class="dropdown-toggle text-black waves-attach" data-toggle="dropdown"><span class="icon">keyboard_arrow_down</span></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_1</span>&nbsp;Lorem Ipsum</a>
								</li>
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_2</span>&nbsp;Consectetur Adipiscing</a>
								</li>
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_3</span>&nbsp;Sed Ornare</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>	 -->
<content layout="row" layout-fill layout-padding flex-gt-md="80">
    <md-card flex-gt-sm="70" flex-gt-md="80">
        <md-card-content>
          <h2>Activity</h2>
          <md-list>
            <md-item ng-repeat="item in activity | filter:search">
              <md-item-content>
                <div class="md-tile-left inset" hide-sm>
                    <user-avatar></user-avatar>
                </div>
                <div class="md-tile-content">
                  <h3>{{item.what}}</h3>
                  <h4>{{item.who}}</h4>
                  <p>
                    {{item.notes}}
                  </p>
                </div>
              </md-item-content>
              <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
              <md-divider hide-gt-sm ng-if="!$last"></md-divider>
            </md-item>
            <md-divider></md-divider>
            <md-item layout class="inset">
                <md-button layout layout-align="start center" flex class="md-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg> More
                </md-button>
            </md-item>
          </md-list>
        </md-card-content>
    </md-card>
    <md-card flex-gt-sm="70" flex-gt-md="80">
        <md-card-content>
          <h2>Activity</h2>
          <md-list>
            <md-item ng-repeat="item in activity | filter:search">
              <md-item-content>
                <div class="md-tile-left inset" hide-sm>
                    <user-avatar></user-avatar>
                </div>
                <div class="md-tile-content">
                  <h3>{{item.what}}</h3>
                  <h4>{{item.who}}</h4>
                  <p>
                    {{item.notes}}
                  </p>
                </div>
              </md-item-content>
              <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
              <md-divider hide-gt-sm ng-if="!$last"></md-divider>
            </md-item>
            <md-divider></md-divider>
            <md-item layout class="inset">
                <md-button layout layout-align="start center" flex class="md-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg> More
                </md-button>
            </md-item>
          </md-list>
        </md-card-content>
    </md-card>
    <md-card flex-gt-sm="70" flex-gt-md="40">
        <md-card-content>
          <h2>Activity</h2>
          <md-list>
            <md-item ng-repeat="item in activity | filter:search">
              <md-item-content>
                <div class="md-tile-left inset" hide-sm>
                    <user-avatar></user-avatar>
                </div>
                <div class="md-tile-content">
                  <h3>{{item.what}}</h3>
                  <h4>{{item.who}}</h4>
                  <p>
                    {{item.notes}}
                  </p>
                </div>
              </md-item-content>
              <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
              <md-divider hide-gt-sm ng-if="!$last"></md-divider>
            </md-item>
            <md-divider></md-divider>
            <md-item layout class="inset">
                <md-button layout layout-align="start center" flex class="md-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg> More
                </md-button>
            </md-item>
          </md-list>
        </md-card-content>
    </md-card>
</content>