<div flex md-scroll-y>
	<div layout="row" layout-fill flex-gt-md="80">
        <div layout="row" flex>
            <div class="parent" layout="column" ng-repeat="item in menucard" flex>
                <md-card class="card">
                	<md-card-header>
			          <md-card-avatar>
			            <img class="md-user-avatar" src="images/samples/mat2.jpg"/>
			          </md-card-avatar>
			          <md-card-header-text>
			            <span class="md-title">{{item.titulo}}</span>
			            <span class="md-subhead">{{item.descripcion}}</span>
			          </md-card-header-text>
			        </md-card-header>
                    <img ng-src="images/samples/x4.jpg" class="md-card-image" alt="Washed Out">
                    <md-card-actions layout="row" layout-align="end center">
			          <md-button class="md-raised md-primary" ng-click="modal(item.evento, event)">Entrar</md-button>
			        </md-card-actions>
                </md-card>
            </div>
        </div>
    </div>
</div>