<div class="row">
	<div class="col-sm-3">
		<div class="card">
			<div class="card-main">
				<div class="card-header">
					<div class="card-header-side pull-left">
						<div class="avatar">
							<img alt="John Smith Avatar" src="images/users/avatar-001.jpg">
						</div>
					</div>
					<div class="card-inner">
						<span class="card-heading">FacturaNext</span>
					</div>
				</div>
				<div class="card-img">
					<img alt="alt text" src="images/samples/x2.jpg" style="width: 100%;">
					<p class="card-img-heading">Repositorio Facturas Electronicas</p>
				</div>
				
				<div class="card-action">
					<div class="card-action-btn pull-left">
						<a class="btn btn-flat waves-attach" href="#{{'dashboard.facturanext.inicio' | routeSegmentUrl}}"><span class="icon">check</span> Entrar</a>
					</div>
					<ul class="nav nav-list margin-no pull-right">
						<li class="dropdown">
							<a class="dropdown-toggle text-black waves-attach" data-toggle="dropdown"><span class="icon">keyboard_arrow_down</span></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_1</span>&nbsp;Lorem Ipsum</a>
								</li>
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_2</span>&nbsp;Consectetur Adipiscing</a>
								</li>
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_3</span>&nbsp;Sed Ornare</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card">
			<div class="card-main">
				<div class="card-header">
					<div class="card-header-side pull-left">
						<div class="avatar">
							<img alt="John Smith Avatar" src="images/users/avatar-001.jpg">
						</div>
					</div>
					<div class="card-inner">
						<span class="card-heading">Radio</span>
					</div>
				</div>
				<div class="card-img">
					<img alt="alt text" src="images/samples/x3.jpg" style="width: 100%;">
					<p class="card-img-heading">Administracion Radio</p>
				</div>
				
				<div class="card-action">
					<div class="card-action-btn pull-left">
						<a class="btn btn-flat waves-attach" href="#{{'dashboard.radioadmin.inicio1' | routeSegmentUrl}}"><span class="icon">check</span>&nbsp;Button</a>
					</div>
					<ul class="nav nav-list margin-no pull-right">
						<li class="dropdown">
							<a class="dropdown-toggle text-black waves-attach" data-toggle="dropdown"><span class="icon">keyboard_arrow_down</span></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_1</span>&nbsp;Lorem Ipsum</a>
								</li>
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_2</span>&nbsp;Consectetur Adipiscing</a>
								</li>
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_3</span>&nbsp;Sed Ornare</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card">
			<div class="card-main">
				<div class="card-header">
					<div class="card-header-side pull-left">
						<div class="avatar">
							<img alt="John Smith Avatar" src="images/users/avatar-001.jpg">
						</div>
					</div>
					<div class="card-inner">
						<span class="card-heading">C.I.</span>
					</div>
				</div>
				<div class="card-img">
					<img alt="alt text" src="images/samples/x4.jpg" style="width: 100%;">
					<p class="card-img-heading">Consultar Informacion cedula</p>
				</div>
				
				<div class="card-action">
					<div class="card-action-btn pull-left">
						<a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;Button</a>
					</div>
					<ul class="nav nav-list margin-no pull-right">
						<li class="dropdown">
							<a class="dropdown-toggle text-black waves-attach" data-toggle="dropdown"><span class="icon">keyboard_arrow_down</span></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_1</span>&nbsp;Lorem Ipsum</a>
								</li>
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_2</span>&nbsp;Consectetur Adipiscing</a>
								</li>
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_3</span>&nbsp;Sed Ornare</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card">
			<div class="card-main">
				<div class="card-header">
					<div class="card-header-side pull-left">
						<div class="avatar">
							<img alt="John Smith Avatar" src="images/users/avatar-001.jpg">
						</div>
					</div>
					<div class="card-inner">
						<span class="card-heading">Ruc</span>
					</div>
				</div>
				<div class="card-img">
					<img alt="alt text" src="images/samples/x5.jpg" style="width: 100%;">
					<p class="card-img-heading">Consultar informacionde Sus clientes</p>
				</div>
				
				<div class="card-action">
					<div class="card-action-btn pull-left">
						<a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;Button</a>
					</div>
					<ul class="nav nav-list margin-no pull-right">
						<li class="dropdown">
							<a class="dropdown-toggle text-black waves-attach" data-toggle="dropdown"><span class="icon">keyboard_arrow_down</span></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_1</span>&nbsp;Lorem Ipsum</a>
								</li>
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_2</span>&nbsp;Consectetur Adipiscing</a>
								</li>
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_3</span>&nbsp;Sed Ornare</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="card">
			<div class="card-main">
				<div class="card-header">
					<div class="card-header-side pull-left">
						<div class="avatar">
							<img alt="John Smith Avatar" src="images/users/avatar-001.jpg">
						</div>
					</div>
					<div class="card-inner">
						<span class="card-heading">Record Policial</span>
					</div>
				</div>
				<div class="card-img">
					<img alt="alt text" src="images/samples/x6.jpg" style="width: 100%;">
					<p class="card-img-heading">Consultar Horial Delictivo</p>
				</div>
				
				<div class="card-action">
					<div class="card-action-btn pull-left">
						<a class="btn btn-flat waves-attach" href="javascript:void(0)"><span class="icon">check</span>&nbsp;Button</a>
					</div>
					<ul class="nav nav-list margin-no pull-right">
						<li class="dropdown">
							<a class="dropdown-toggle text-black waves-attach" data-toggle="dropdown"><span class="icon">keyboard_arrow_down</span></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_1</span>&nbsp;Lorem Ipsum</a>
								</li>
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_2</span>&nbsp;Consectetur Adipiscing</a>
								</li>
								<li>
									<a class="waves-attach" href="javascript:void(0)"><span class="icon margin-right-sm">filter_3</span>&nbsp;Sed Ornare</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>