<header class="header header-transparent header-waterfall ui-header ">
    <span class="header-logo">Nextbook, Red de Negocios</span>
    <nav class="tab-nav pull-right hidden-xx">
        <ul class="nav nav-list">
            <li class="dropdown margin-right">
                <a class="dropdown-toggle padding-left-no padding-right-no" data-toggle="dropdown">
                    <span class="access-hide">John Smith</span>
                    <span class="avatar avatar-sm"><img alt="alt text for John Smith avatar" src="images/users/avatar-001.jpg"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a class="padding-right-lg waves-attach waves-effect" href="javascript:void(0)"><span class="icon icon-lg margin-right">account_box</span>Profile Settings</a>
                    </li>
                    <li>
                        <a class="padding-right-lg waves-attach waves-effect" href="javascript:void(0)"><span class="icon icon-lg margin-right">add_to_photos</span>Upload Photo</a>
                    </li>
                    <li>
                        <a class="padding-right-lg waves-attach waves-effect" href="page-login.html"><span class="icon icon-lg margin-right">exit_to_app</span>Logout</a>
                    </li>
                </ul>
            </li>
            <li ng-class="{active: ('dashboard.perfil.inicio' | routeSegmentStartsWith)}" class="waves-light waves-effect">
                <a class="waves-attach waves-light" href="#{{'dashboard.perfil.inicio' | routeSegmentUrl}}">
                    <span class="text-white" ng-if="localStorage.nombre_comercial != 'no disponible'">{{localStorage.nombre_comercial}}</span>
                    <span class="text-white" ng-if="localStorage.nombre_comercial == 'no disponible'">{{localStorage.razon_social}}</span>
                </a>
            </li>
            <li ng-class="{active: ('dashboard.ini.inicio' | routeSegmentStartsWith)}" class="waves-light waves-effect">
                <a class="waves-attach waves-light" href="#{{'dashboard.ini.inicio' | routeSegmentUrl}}">
                    <span class="text-white">Inicio</span>
                </a>
            </li>            
            <li class="dropdown">
                <a class="dropdown-toggle text-black waves-attach waves-effect" data-toggle="dropdown"><span class="icon">more_vert</span></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <!-- <li>
                        <a class="padding-right-lg waves-attach waves-effect" href="javascript:void(0)"><span class="icon icon-lg margin-right">account_box</span>Configuración Perfil</a>
                    </li>
                    <li>
                        <a class="padding-right-lg waves-attach waves-effect" href="javascript:void(0)"><span class="icon icon-lg margin-right">add_to_photos</span>Bloquear</a>
                    </li> -->
                    <li>
                        <a class="padding-right-lg waves-attach waves-effect" ng-href="#/salir/159">
                            <span class="icon icon-lg margin-right">exit_to_app</span>
                            Cerrar Session
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<main class="content">
    <section class="content-inner">
        <div class="col-sm-3 col-lg-2 col-md-2 affix">
            <!-- <md-content> -->
                <div class="menu-content">                        
                    <ul class="nav">
                        <li>
                            <a class="waves-attach waves-effect" href="#/My-space/Perfil-inicio">
                                <i class="material-icons">home</i> Inicio
                            </a>
                        </li>
                        <li ng-class="{active: ('dashboard.facturanext.inicio' | routeSegmentStartsWith)}">
                            <a class="waves-attach waves-effect" href="#/My-space/Facturanext">
                                <i class="material-icons">assignment</i> Facturanext
                            </a>
                        </li>
                        <li ng-class="{active: ('dashboard.nomina.nomina' | routeSegmentStartsWith)}">
                            <a class="waves-attach waves-effect" href="#/My-space/NominaAdmin/Nomina">
                                <i class="material-icons">note_add</i> Nomina
                            </a>
                        </li>
                        
                        <li>
                            <a class="waves-attach waves-effect" href="#/My-space/Perfil-inicio">
                                <i class="material-icons">widgets</i> Apps, Colección
                            </a>
                        </li>
                        <li>
                            <a class="waves-attach waves-effect" href="#/My-space/Perfil-inicio">
                                <i class="material-icons">account_circle</i> Perfil
                            </a>
                        </li>
                        <div class="menu-logo"></div>
                        <li>
                            <a class="waves-attach waves-effect " href="#/My-space/Perfil-inicio">

                                PERSONAS

                            </a>
                        </li>
                    </ul>
                </div>
            <!-- </md-content> -->
        </div>
        <div class="col-lg-8 col-md-8 col-md-8">
            <md-content>
                <div app-view-segment="1"></div>
            </md-content>            
        </div>
    </section>
</main>

