<div layout-xs="column" layout="row" style="    position: fixed; z-index: 99; width: 100%;">
    <md-toolbar flex-xs flex-gt-xs="15" layout="column">
    </md-toolbar>
    <md-toolbar flex-xs flex-gt-xs="65" layout="column">
        <div class="md-toolbar-tools toolbar-center">
            <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu" class="md-icon-button launch">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <a href="#/My-space/Inicio" title="">
                <img src="images/logo/logo.fw.png"  alt="Logo">
            </a>
            <div ng-controller="appsCtrl as appsctrl">
                <form ng-submit="$event.preventDefault()" class="input-buscador">
                    <md-autocomplete 
                        ng-disabled="isDisabled" 
                        md-no-cache="Cache" 
                        md-selected-item="selectedItem" 
                        md-search-text-change="appsctrl.searchTextChange(searchText)" 
                        md-search-text="searchText" 
                        md-selected-item-change="appsctrl.selectedItemChange(item)" 
                        md-items="item in items" 
                        md-item-text="item.nombre_comercial" 
                        md-min-length="0" 
                        placeholder="Empresas,Servicios ....." 
                        md-menu-class="autocomplete-custom-template">
                        <md-item-template>
                            <span class="item-title">
                      <img alt="Img" ng-src="{{item.img}}" class="avatar-busqueda" />
                      <span style="font-size:10px"> 
                      {{item.nombre_comercial}}
                      <md-icon md-svg-icon="img/icons/ic_comment_24px.svg" class="mensaje-autocomplete" ng-click="sendMensaje(item)"></md-icon>
                      </span>
                            </span>
                        </md-item-template>
                    </md-autocomplete>
                </form>
            </div>
            <span flex></span>
            <md-button href="#/My-space/Catalogo">
                Catalogo
            </md-button>
            <md-button href="#/My-space/Perfil-inicio">
                Perfil
            </md-button>
            <md-button href="#/My-space/Inicio">
                Inicio
            </md-button>
            <md-menu md-position-mode="target-right target">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <ng-md-icon icon="more_vert"></ng-md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-href="#/salir/341234">
                            <div layout="row" flex>
                                <p flex>Cerrar Sesión</p>
                                <ng-md-icon icon="exit_to_app"></ng-md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    
    <div flex-xs flex-gt-xs="20" layout="column">
        <md-toolbar>
            <md-tabs class="md-primary" md-selected="data.selectedIndex"  >
                <md-tab id="tab1" aria-controls="tab1-content">
                    <md-icon md-svg-icon="img/icons/ic_comment_24px.svg"></md-icon>
                        <div ng-show="countnewmsj!=0" style="width: 0px; top: -38px; right: 12px;" class="badge1" data-badge="{{countnewmsj}}"></div>
                </md-tab>
                <md-tab id="tab2" aria-controls="tab2-content">
                    <md-icon md-svg-icon="img/icons/ic_insert_drive_file_24px.svg"></md-icon>
                    <md-badge ng-show="nrfacturas!=0">{{nrfacturas}}</md-badge>
                </md-tab>
                <md-tab id="tab3" aria-controls="tab3-content">
                    <md-icon>email</md-icon>
                </md-tab>
                <md-tab id="tab4" aria-controls="tab4-content">
                    <md-icon md-svg-icon="img/icons/car-compact.svg"></md-icon>
                </md-tab>
                <md-tab id="tab5" aria-controls="tab5-content">
                    <md-icon>headset_mic</md-icon>
                </md-tab>
            </md-tabs>
        </md-toolbar>
    </div>
</div>

<div layout-xs="column" layout="row" ng-controller="perfilCtrl" style="padding-top: 64px;" >
        <div flex-xs flex-gt-xs="80" layout="column">
            <!-- contenido -->
            <div app-view-segment="1"></div>
        </div>
        <md-sidenav flex-xs flex-gt-xs="20" layout="column" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')" class="md-whiteframe-z2">
            <div ng-controller="mensajesCtrl as ctrl">
            <ng-switch on="data.selectedIndex" class="tabpanel-container">
                <div id="tab1-content" aria-labelledby="tab1" ng-switch-when="0">
                    <md-subheader>
                    Mensajeria ({{countnewmsj}})
                    </md-subheader>
                    <div ng-show="load_chats" style="width: 100%;text-align: center;">
                    <br>
                    <img style="height: 25px; width: 25px;" alt="Cargando...." ng-src="images/samples/load.gif"/>
                    </div>                    
                    <md-tabs md-dynamic-height md-selected="ctrl.selectedTab" id="chat_mensajes">
                        <md-tab>
                            <md-tab-body>
                                <md-list-item class="noright" ng-repeat="chat in chats">
                                    <md-button ng-click="ctrl.open_chat(chat)" style="width: 100%;" aria-label="btn-chat">
                                        <div ng-class="{'no-view': chat.estado_view == false }">
                                            <img alt="Img" ng-src="{{chat.img}}" class="md-avatar" style=" float: left;"/>
                                            <div class="conversacion-user">{{chat.para}}</div>
                                            <div class="mensaje-conversacion">
                                            {{chat.mensaje}}
                                            </div>
                                            <div class="opciones-chat">
                                                <md-menu md-position-mode="target-right target" >
                                                      <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                                        <ng-md-icon icon="settings"></ng-md-icon>
                                                      </md-button>
                                                      <md-menu-content width="4" >
                                                        <md-menu-item ng-repeat="opcion in opciones_chat">
                                                          <md-button ng-click="eliminar_chat(chat)">
                                                              <div layout="row" flex>
                                                                <p flex>{{opcion.nombre}}</p>
                                                                <md-icon class="md-accent material-icons">{{opcion.icono}}</md-icon>
                                                              </div>
                                                          </md-button>
                                                        </md-menu-item>
                                                      </md-menu-content>
                                                </md-menu>
                                            </div>
                                        </div>
                                    </md-button>
                                </md-list-item>
                            </md-tab-body>
                        </md-tab>
                        <md-tab>
                            <md-tab-body>
                                <md-button class="md-icon-button md-primary" ng-click="ctrl.back_chat()" aria-label="btn-chat()">
                                    <md-icon md-svg-icon="img/icons/ic_arrow_back_24px.svg"></md-icon>
                                </md-button>
                                {{nombre_chat}}
                                <div class="opciones-inbox">
                                                <md-menu md-position-mode="target-right target" >
                                                      <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                                        <ng-md-icon icon="settings"></ng-md-icon>
                                                      </md-button>
                                                      <md-menu-content width="4" >
                                                        <md-menu-item ng-repeat="opcion in opciones_mensajes">
                                                          <md-button ng-click="select_mensajes()">
                                                              <div layout="row" flex>
                                                                <p flex>{{opcion.nombre}}</p>
                                                                <md-icon class="md-accent material-icons">{{opcion.icono}}</md-icon>
                                                              </div>
                                                          </md-button>
                                                        </md-menu-item>
                                                      </md-menu-content>
                                                </md-menu>
                                </div>
                                <md-divider></md-divider>
                                <br>
                                <md-button ng-show="btn_cancelar" style="float: right;" class="md-fab md-mini md-warnning md-button md-ink-ripple" type="button" ng-transclude="" ng-click="cancel_select_mensajes()" aria-label="Cancelar">
                                    <md-icon class="ng-scope material-icons">clear</md-icon>
                                </md-button>
<!--                                 <md-button ng-show="btn_cancelar" style="float: right;" class="md-fab md-mini md-primary md-button md-ink-ripple" type="button" ng-transclude="" ng-click="eliminar_mensajes()" aria-label="Ok">
                                    <md-icon class="ng-scope material-icons">done</md-icon>
                                </md-button> -->
                                <img ng-show="load_chats" style="height: 25px; width: 25px;" alt="Cargando...." ng-src="images/samples/load.gif"/>
                                <div id="chat-container" class="chat-container">
                                    <div ng-show="load_mensajes" style="width: 100%;text-align: center;">
                                        <img style="height: 25px; width: 25px;" alt="Cargando...." ng-src="images/samples/load.gif"/>
                                    </div>
                                    <!-- <div class="container"> -->
                                        <div class="contenedor-mensaje" ng-repeat="conversacion in mensajes_chat">
                                            <img alt="Img" height="35" width="35" ng-class="{'avatar-chat avatar-left': conversacion.tipo_mensaje == 'RECEIVED','avatar-chat avatar-right': conversacion.tipo_mensaje == 'SEND' }" ng-src="{{conversacion.tipo_mensaje == 'RECEIVED' && img_chat || img_session}}" />
                                            <div id="{{'msg'+$index}}" ng-class="{'bubble': conversacion.tipo_mensaje == 'RECEIVED','bubble bubble--alt': conversacion.tipo_mensaje == 'SEND' } ">
                                                {{conversacion.mensaje}}
                                            </div>
                                            <md-button ng-show="check_mensajes" ng-click="eliminar_mensajes(conversacion)" class="md-icon-button md-accent md-mini" ng-class="{'del-checkbox-izq': conversacion.tipo_mensaje == 'RECEIVED','del-checkbox-drch': conversacion.tipo_mensaje == 'SEND' }" aria-label="Cancelar">
                                            <md-icon class="ng-scope material-icons">delete</md-icon>
                                            </md-button>
                                        </div>
                                    <!-- </div> -->
                                </div>
                                <md-input-container class="md-block" style="margin-bottom:0;">
                                <input type="text" rows="2" ng-model="data.txtmsg" ng-click="limpiarmsj()" ng-keypress="sendMensajeChat($event)" class="md-mini md-primary" placeholder="Escribe un mensaje">
                                </md-input-container>
                            </md-tab-body>
                        </md-tab>
                    </md-tabs>
                </div>
                <div id="tab2-content" aria-labelledby="tab2" ng-switch-when="1">
                    <md-toolbar>
                        <div class="md-toolbar-tools toolbar-center">
                            <small>Mis Facturas</small>
                        </div>
                    </md-toolbar>
                    <md-list-item class="noright" ng-repeat="factura in facturas">
                        <md-button ng-click="generar_pdf(factura)">
                            <div ng-class="{'no-view': factura.estado_view == false }">
                                <div style="font-size: 11.5px; margin-top: 0px; margin-bottom: 0; height: 16px;">
                                    {{factura.clave_acceso}}
                                </div>
                                <div style="font-size: 9.5px; margin-top: 0px; margin-bottom: 0; float: left;">
                                    {{factura.nombre_comercial}}
                                </div>
                            </div>
                        </md-button>
                    </md-list-item>
                </div>
                <div id="tab3-content" aria-labelledby="tab3" ng-switch-when="3">
                    tab 3
                </div>
                <div id="tab4-content" aria-labelledby="tab4" ng-switch-when="4">
                    <md-content layout-padding layout-wrap>
                        <audio controls autoplay>
                            <source src="http://186.33.168.251:8000/stream.aac" type="audio/ogg">
                            <source src="http://186.33.168.251:8000/stream.aac" type="audio/mpeg">
                        </audio>
                    </md-content>
                </div>
                <div id="tab5-content" aria-labelledby="tab5" ng-switch-when="5">
                    tab 5
                    
                </div>
            </ng-switch>
            </div>
        </md-sidenav>
</div>
<style type="text/css">
    .toolbar-center {
        padding-left: 2%;
        /*padding-right: 10%;*/
    }    
    .toolbar-chat {
        padding-left: 80%;
        margin-top: -50px;
    }    
    .no-view {
        font-weight: bold;
    }    
    .avatar-busqueda {

        /*margin-top: 8px;*/
        /*margin-bottom: 8px;*/
        /*margin-right: 16px;*/
        /*border-radius: 50%;*/
        box-sizing: content-box;
        width: 40px;
    }    
    .mensaje-autocomplete:hover {
        color: #ff4081;
    }    
    md-badge {
        margin: 0 0 0px -4px;
        color: white;
        padding: 1px 4px;
        border-radius: 4px;
    }    
    #chat_mensajes md-tabs-canvas {
        display: none;
    }
    .md-tab {
        /*padding: 12px 12px;*/
    }
    .md-tab {
        padding: 20px 20px;
    }

    .badge1 {
   position:relative;
}
.badge1[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:6px;
   right: -46px;
   font-size:.7em;
    background: #ff4081;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}
</style>