<div  layout="row" layout-fill flex-gt-md="80">
    <div flex-xs layout="column" flex-gt-md="70">
      <md-card>
        <div class="div-controlcar-img">
        	<img ng-src="{{imgPortada}}" class="md-card-image" alt="Banner Perfil">
        	<div class="header-card-perfil-nombrecomercial">{{localStorage.nombre_comercial}}</div>
        	<div class="header-card-perfil">
	      		<span flex></span>
	        	<md-button class="md-icon-button" aria-label="More">
			        <ng-md-icon class="md-accent" icon="border_color"></ng-md-icon>
			   	</md-button>
			   	<md-button class="md-icon-button" aria-label="More">
			        <ng-md-icon class="md-accent" icon="cloud_upload"></ng-md-icon>
			   	</md-button>
	        </div>
        </div>
      </md-card>
      <div layout="row" app-view-segment="2"></div>
    </div>
    <div flex-xs layout="column" flex-gt-md="30">
      <md-card>
      	<div layout="row" layout-align="center center">
        	<img ng-src="{{imgPortada}}" class="avatar" alt="Avatar Perfil">
        </div>
        <md-card-actions layout="row" layout-align="center center">
          <md-button class="md-icon-button" aria-label="More">
		        <ng-md-icon class="md-accent" icon="border_color"></ng-md-icon>
		   	</md-button>
		   	<md-button class="md-icon-button" aria-label="More">
		        <ng-md-icon class="md-accent" icon="cloud_upload"></ng-md-icon>
		   	</md-button>
        </md-card-actions>
        <div layout="row" layout-align="center center">
        	{{datosPersona.nombres_apellidos}}
        </div>
        <md-card-content>

        	<md-list>
        		<md-list-item class="md-3-line md-long-text">
		          <img ng-src="{{todos[1].face}}?25" class="md-avatar" alt="{{todos[1].who}}" />
		          <div class="md-list-item-text">
		            <h3>{{ todos[1].who }}</h3>
		            <p>
		              {{activitidad}}
		            </p>
		          </div>
		        </md-list-item>
		        <md-divider ></md-divider>
		    </md-list>
        </md-card-content>
        
        <img ng-src="{{imgPortada}}" class="md-card-image" alt="Banner Perfil">
      </md-card>
    </div>
</div>

