<header class="container header header-transparent header-waterfall ui-header">
	<span class="header-logo"><span class="icon icon-lg">bookmark</span> Red de Negocios</span>
	<ul class="nav nav-list pull-right">
		<li>
			<a class="btn btn-brand-accent waves-attach waves-light waves-effect" href="#/Home">
				<span class="icon icon-lg margin-right">dashboard</span> Iniciar Sesión
			</a>
		</li>
	</ul>
</header>
<main class="content">
	<div class="content-header ui-content-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
					<h1 class="content-heading text-center">Nextbook</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
				<section class="content-inner margin-top-no">
					<div class="">
						<div class="card-main">
							<div class="card-img">
								<img alt="alt text" src="images/buscar/publi1.png" >
							</div>
							<div class="card-inner">
								<div class="form-group form-group-label form-group-brand">
									<label class="floating-label" for="ui_floating_label_example_brand">Buscar, empresas, servicios, locales comerciales</label>
									<input class="form-control" id="ui_floating_label_example_brand" type="text">
									<div class="form-help">
										<code>.form-group-brand</code>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</main>