<div class="animated fadeIn">

    <form name="formreg">
        <div class="row col-lg-7">
            <div class="col-lg-12 ">
                <div class="form-group form-group-label control-focus">
                    <label class="floating-label"><span class="icon icon-lg">play_arrow</span> Razon Social </label>
                    <input class="form-control" type="text" ng-model="data.razon_social" disabled>
                </div>
                <div class="form-group form-group-label control-focus">
                    <label class="floating-label"><span class="icon icon-lg">play_arrow</span> Nombre Comercial </label>
                    <input class="form-control" type="text" ng-model="data.nombre_comercial" disabled>
                </div>
                <div class="form-group form-group-label control-focus">
                    <label class="floating-label"><span class="icon icon-lg">play_arrow</span> Estado del Contribuyente en el RUC </label>
                    <input class="form-control" type="text" ng-model="data.estado_contribuyente" disabled>
                </div>
                <div class="form-group form-group-label control-focus">
                    <label class="floating-label"><span class="icon icon-lg">play_arrow</span> Clase de contribuyente</label>
                    <input class="form-control" type="text" ng-model="data.clase_contribuyente" disabled>
                </div>
                <div class="form-group form-group-label control-focus" disabled>
                    <label class="floating-label"><span class="icon icon-lg">play_arrow</span> Tipo de contribuyente</label>
                    <input class="form-control" type="text" ng-model="data.tipo_contribuyente" disabled>
                </div>
                <div class="form-group form-group-label control-focus">
                    <label class="floating-label"><span class="icon icon-lg">play_arrow</span> Obligado a llevar Contabilidad</label>
                    <input class="form-control" type="text" ng-model="data.obligado_llevar_contabilidad" disabled>
                </div>
                <div class="form-group form-group-label control-focus" disabled>
                    <label class="floating-label"><span class="icon icon-lg">play_arrow</span> Actividad Económica Principal</label>
                    <textarea class="form-control" type="text" ng-model="data.actividad_principal" rows="5" disabled></textarea>
                </div>
            </div>
        </div>

        <div class="row col-lg-5">
            <div class="col-lg-12">
                <div class="form-group-brand form-group-label" ng-class="{ 'form-group-red' : formreg.cedula.$invalid && formreg.cedula.$touched }">
                    <label class="floating-label"> <span class="icon icon-lg">account_box</span> Ruc</label>
                    <input class="form-control" id="ruc" ng-model="data.cedula" name="cedula" type="text" ng-keyup="cargadatos(formreg.cedula.$valid)" ng-required="true" ruc-validation>
                    <span for="correo" ng-show="formreg.cedula.$invalid && formreg.cedula.$touched">
                    <span class="label label-red"><span class="icon icon-lg">info_outline</span> El Ruc es incorrecto</span>
                    </span>
                </div>
                <div class="form-group-brand form-group-label " ng-class="{ 'form-group-red' : formreg.telefono.$invalid && formreg.telefono.$touched }">
                    <label class="floating-label"> <span class="icon icon-lg">phone</span> Teléfono</label>
                    <input class="form-control" ng-model="data.telefono" name="telefono" type="text" ng-required="true">
                    <span for="telefono" ng-show="formreg.telefono.$invalid && formreg.telefono.$touched">
                    <span class="label label-red"><span class="icon icon-lg">info_outline</span> Campo Obligatorio</span>
                    </span>
                </div>
                <div class="form-group-brand form-group-label " ng-class="{ 'form-group-red' : formreg.celular.$invalid && formreg.celular.$touched }">
                    <label class="floating-label"><span class="icon icon-lg">phone_iphone</span> Celular</label>
                    <input class="form-control" ng-model="data.celular" name="celular" type="text" ng-required="true">
                    <span for="telefono" ng-show="formreg.celular.$invalid && formreg.celular.$touched">
                    <span class="label label-red"><span class="icon icon-lg">info_outline</span> Campo Obligatorio</span>
                </div>
                <div class="form-group-brand form-group-label " ng-class="{ 'form-group-red' : formreg.correo.$invalid && formreg.correo.$touched }">
                    <label class="floating-label"><span class="icon icon-lg">email</span> Correo</label>
                    <input class="form-control" ng-model="data.correo" name="correo" type="email" ng-required="true">
                    <span for="telefono" ng-show="formreg.correo.$invalid && formreg.correo.$touched">
                    <span class="label label-red"><span class="icon icon-lg">info_outline</span> Email incorrecto</span>
                </div>
                <div class="form-group-brand form-group-label control-focus" ng-class="{ 'form-group-red' : formreg.fecha_nacimiento.$invalid && formreg.fecha_nacimiento.$touched }">
                    <label class="floating-label "><span class="icon icon-lg">date_range</span> Fecha de nacimiento</label>
                    <input class="form-control" ng-model="data.fecha_nacimiento" name="fecha_nacimiento" type="date" ng-required="true">
                    <span for="telefono" ng-show="formreg.fecha_nacimiento.$invalid && formreg.fecha_nacimiento.$touched">
                    <span class="label label-red"><span class="icon icon-lg">info_outline</span> Campo Obligatorio</span>
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-brand waves-attach waves-light waves-effect" ng-click="registrar()">Registrar</button>
                </div>
            </div>
        </div>
    </form>

</div>