<div class="animated fadeIn no-padding-top">
    <h2 class="content-sub-heading text-center">Datos de mi empresa</h2>
    <div layout-gt-xs="row">
        <div class="col-lg-7">
            <img src="images/welcome/welcome.jpg" class="animated zoomIn" ng-show="elemennotview">
            <h1 class="content-heading text-center">Bienvenido</h1>
            <md-input-container class="md-block animated zoomIn" ng-show="elementview" flex-gt-xs ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                <label class="text-brand"><span class="icon icon-lg">play_arrow</span> Razon Social </label>
                <input ng-model="razon_social" autocomplete="off" disabled>
            </md-input-container>
            <md-input-container class="md-block animated zoomIn" ng-show="elementview" flex-gt-xs ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                <label class="text-brand"><span class="icon icon-lg">play_arrow</span> Nombre Comercial </label>
                <input ng-model="nombre_comercial" autocomplete="off" disabled>
            </md-input-container>
            <md-input-container class="md-block animated zoomIn" ng-show="elementview" flex-gt-xs ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                <label class="text-brand"><span class="icon icon-lg">play_arrow</span> Estado del Contribuyente en el RUC </label>
                <input ng-model="estado_contribuyente" autocomplete="off" disabled>
            </md-input-container>
            <md-input-container class="md-block animated zoomIn" ng-show="elementview" flex-gt-xs ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                <label class="text-brand"><span class="icon icon-lg">play_arrow</span> Clase de contribuyente </label>
                <input ng-model="clase_contribuyente" autocomplete="off" disabled>
            </md-input-container>
            <md-input-container class="md-block animated zoomIn" ng-show="elementview" flex-gt-xs ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                <label class="text-brand"><span class="icon icon-lg">play_arrow</span> Tipo de contribuyente </label>
                <input ng-model="tipo_contribuyente" autocomplete="off" disabled>
            </md-input-container>
            <md-input-container class="md-block animated zoomIn" ng-show="elementview" flex-gt-xs ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                <label class="text-brand"><span class="icon icon-lg">play_arrow</span> Obligado a llevar Contabilidad </label>
                <input ng-model="obligado_llevar_contabilidad" autocomplete="off" disabled>
            </md-input-container>
            <md-input-container class="md-block animated zoomIn" ng-show="elementview" flex-gt-xs ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                <label class="text-brand"><span class="icon icon-lg">play_arrow</span> Actividad Principal </label>
                <input ng-model="actividad_principal" autocomplete="off" disabled>
            </md-input-container>
        </div>
        <div class="col-lg-5">
            <form name="formsearchruc">
                <div layout="row" flex>                
                    <md-input-container class="md-block" flex-gt-xs>
                        <label><span class="icon icon-lg">play_arrow</span> RUC </label>
                        <input id="ruc" name="ruc" ng-model="ruc" ng-minlength="13" ng-maxlength="13" maxlength="13" autocomplete="off"  required>
                        <div ng-messages="formsearchruc.ruc.$error" ng-show="formsearchruc.ruc.$dirty">
                            <div ng-message="required" class="my-message">requerido</div>
                            <div ng-message="minlength" class="my-message">ruc invalido, minimo 13 digitos</div>
                            <div ng-message="maxlength" class="my-message">ruc invalido, maximo 13 digitos</div>
                        </div>
                    </md-input-container>
                    <md-button class="md-fab" type="submit" ng-disabled="formsearchruc.$invalid" ng-click="searchruc()">
                        <md-icon class="material-icons">search</md-icon>
                    </md-button>                
                </div>
            </form>
            <form name="formreg">
                <div layout="row" flex ng-show="elementview">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Provincia</label>
                        <md-select  name="myselect" id="myselect" ng-change="update()" ng-model="myOption">
                            <md-option ng-repeat="state in states" value="{{state.id}}">
                                {{state.nombre}}
                            </md-option>
                        </md-select>
                        <div ng-messages="formreg.myOption.$error">
                            <div ng-message="required">myselect is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div >                
                    <img src="images/welcome/reddenegios.png" class="animated zoomIn" ng-show="elemennotview">
                    <h2 class="content-sub-heading" ng-show="elemennotview">
                        <span class="text-brand-accent">Ingresa</span>fácil, <span class="text-brand-accent">rápido</span>,
                        efectivo y <span class="text-brand-accent">gratis</span>. 
                        Publica tú negocio y <span class="text-brand-accent">muéstrate</span>
                        al mundo, seguro incrementarás tús ventas.
                    </h2>
                </div>
                <md-input-container class="md-block" flex-gt-xs ng-show="elementview">
                    <label class="text-brand"><span class="icon icon-lg">play_arrow</span> Teléfono</label>
                    <input autocomplete="off" name="lastName" ng-model="lastName" ng-minlength="7" required>
                    <div ng-messages="formreg.lastName.$error" ng-show="formreg.lastName.$dirty">
                      <div ng-message="required">Campo Requerido</div>
                      <div ng-message="minlength" class="my-message">numero de teléfono invalido</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs ng-show="elementview">
                    <label class="text-brand"><span class="icon icon-lg">play_arrow</span> Celular</label>
                    <input name="fono" ng-model="fono" ng-pattern="/^[0-9]/" ng-minlength="10" ng-maxlength="10" maxlength="10" autocomplete="off" required>
                    <div ng-messages="formreg.fono.$error" ng-show="formreg.fono.$dirty">
                      <div ng-message="required">Campo Requerido</div>
                      <div ng-message="pattern" class="my-message">Solo caracteres numericos</div>
                      <div ng-message="minlength" class="my-message">Minimo 10 Digitos</div>
                      <div ng-message="maxlength" class="my-message">Maximo 10 digitos</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs ng-show="elementview">
                    <label class="text-brand"><span class="icon icon-lg">play_arrow</span> Correo</label>
                    <input autocomplete="off" ng-model="correo" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                    <div ng-messages="formreg.correo.$error" ng-show="formreg.correo.$dirty">
                      <div ng-message="required">Campo Requerido</div>
                      <div ng-message="pattern" class="my-message">correo invalido</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block pull-right" flex-gt-xs ng-show="elementview">
                    <md-button class="md-raised md-primary" type="submit" ng-disabled="formreg.$invalid">Enviar</md-button>
                </md-input-container>
            </form>            
        </div>
    </div>
</div>