<header class="header header-transparent header-waterfall ui-header">
    <span class="header-logo">NextBook</span>
    <ul class="nav nav-list pull-right">
        <!-- <md-content layout-padding> -->
        <li class="col-lg-4">
            <div class="form-group form-group-label">
                <label class="floating-label " for="usuario" > Usuario </label>
                <input class="form-control" id="usuario" type="text" ng-model="data.email">
            </div>
        </li>
        <li>
            <div class="form-group form-group-label">
                <label class="floating-label" for="pass"> Contraseña</label>
                <input class="form-control" id="pass" type="password" ng-model="data.password">
            </div>
        </li>
        <li>
            <a class="btn btn-brand-accent waves-attach waves-light waves-effect" ng-click="ingresar()">Entrar</a>
        </li>
        <!-- </md-content> -->
    </ul>
</header>
<main class="content">
    <div class="content-header ui-content-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                    <h1 class="content-heading text-center">Red de Negocios</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
            <section class="content-inner margin-top-no">
                <nav class="tab-nav ui-tab">
                    <ul class="nav nav-justified">
                        <li class="active" ng-class="{active: ('s1.ParaEmpresas' | routeSegmentStartsWith)}">
                            <a class="waves-attach waves-light waves-effect" href="#{{'s1.ParaEmpresas' | routeSegmentUrl}}"><span class="text-white"><span class="icon icon-lg">domain</span> Para Empresas</span></a>
                        </li>
                        <li ng-class="{active: ('s1.Parati' | routeSegmentStartsWith)}">
                            <a class="waves-attach waves-light waves-effect" href="#{{'s1.Parati' | routeSegmentUrl}}"><span class="text-white"><span class="icon icon-lg">person_outline</span> Para Ti</span></a>
                        </li>
                        <li ng-class="{active: ('s1.quienessomos' | routeSegmentStartsWith)}">
                            <a class="waves-attach waves-light waves-effect" href="#{{'s1.quienessomos' | routeSegmentUrl}}"><span class="text-white"><span class="icon icon-lg">info</span> Quienes Somos</span></a>
                        </li>
                    </ul>
                </nav>
            </section>
        </div>
        <div class="col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-3">
            <section>
                <div app-view-segment="1"></div>
            </section>
        </div>
    </div>
</main>
