<header class="header header-transparent header-waterfall ui-header container">
    <span class="header-logo">NextBook</span>
    <ul class="nav nav-list pull-right">
        <!-- <md-content layout-padding> -->
        <!-- <li class="col-lg-4">
            <div class="form-group form-group-label">
                <label class="floating-label " for="usuario" > Usuario </label>
                <input class="form-control" id="usuario" type="text" ng-model="data.email">
            </div>
        </li>
        <li>
            <div class="form-group form-group-label">
                <label class="floating-label" for="pass"> Contraseña</label>
                <input class="form-control" id="pass" type="password" ng-model="data.password">
            </div>
        </li>
        <li>
            <a class="btn btn-brand-accent waves-attach waves-light waves-effect" ng-click="ingresar()">Entrar</a>
        </li> -->
        <!-- </md-content> -->
        <form name="formlogin">
            <div layout="row">
                <div>
                    <md-input-container style="width: 240px!important">
                        <label>Email</label>
                        <input id="email" name="email" ng-model="email" type="email" placeholder="1004034805001@facturanext.com" autocomplete="off" required>
                        <div ng-messages="formlogin.email.$error" ng-show="formlogin.email.$dirty">
                            <div ng-message="required" class="my-message">requerido</div>
                            <div ng-message="pattern" class="my-message">correo invalido</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input id="password" name="password" ng-model="password" type="password" placeholder="*******" autocomplete="off" required md-theme="alt">
                        <div ng-messages="formlogin.password.$error" ng-show="formlogin.password.$dirty">
                            <div ng-message="required" class="my-message">requerido</div>
                        </div>
                    </md-input-container>
                </div>
                <div>
                    <md-button class="md-raised md-accent" ng-disabled="formlogin.$invalid" ng-click="ingresar()">
                    <md-icon class="material-icons">security</md-icon> Entrar
                </md-button>    
                </div>                
            </div>
        </form>
    </ul>
</header>
<main class="content">
    <div class="content-header ui-content-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                    <h1 class="content-heading text-center">Red de Negocios</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
            <section class="content-inner margin-top-no">
                <nav class="tab-nav ui-tab">
                    <ul class="nav nav-justified">
                        <li class="active" ng-class="{active: ('s1.ParaEmpresas' | routeSegmentStartsWith)}">
                            <a class="waves-attach waves-light waves-effect" href="#{{'s1.ParaEmpresas' | routeSegmentUrl}}"><span class="text-white"><span class="icon icon-lg">domain</span> Para Empresas</span></a>
                        </li>
                        <li ng-class="{active: ('s1.Parati' | routeSegmentStartsWith)}">
                            <a class="waves-attach waves-light waves-effect" href="#{{'s1.Parati' | routeSegmentUrl}}"><span class="text-white"><span class="icon icon-lg">person_outline</span> Para Ti</span></a>
                        </li>
                        <li ng-class="{active: ('s1.quienessomos' | routeSegmentStartsWith)}">
                            <a class="waves-attach waves-light waves-effect" href="#{{'s1.quienessomos' | routeSegmentUrl}}"><span class="text-white"><span class="icon icon-lg">info</span> Quienes Somos</span></a>
                        </li>
                    </ul>
                </nav>
            </section>
        </div>
        <div class="col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-3">
            <section>
                <div app-view-segment="1"></div>
            </section>
        </div>
    </div>
</main>
