<header class="header header-transparent header-waterfall ui-header container">
    <span class="header-logo">NextBook</span>
    <ul class="nav nav-list pull-right">
        <li>
        	<md-button class="md-accent md-raised md-hue-2 md-button" ng-href="#/Home">Iniciar Sesion</md-button>
        </li>  
    </ul>
</header>
<main class="content">
    <div class="content-header ui-content-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                    <h1 class="content-heading text-center">Cuenta Activada Con exito</h1>
                </div>
            </div>
        </div>
    </div>
</main>