<md-dialog ng-controller="admin_ProveedorCtrl">
    <form name="registroForm" id="registroForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Editar Proveedor</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:600px;">
            <div>
              <md-content layout-padding layout-wrap>
                  <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Razon Social</label>
                        <input type="text" required name="razon_social" ng-model="data.razon_social" />
                        <div ng-messages="registroForm.razon_social.$error">
                            <div ng-message="required">Razon Social Requerido</div>
                        </div>
                    </md-input-container>
                  </div>
                  <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Nombre Comercial</label>
                        <input type="text" required name="nombre_comercial" ng-model="data.nombre_comercial" />
                        <div ng-messages="registroForm.nombre_comercial.$error">
                            <div ng-message="required">Nombre Comercial Requerido</div>
                        </div>
                    </md-input-container>
                  </div>
                  <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Ruc</label>
                        <input type="text" required name="ruc" ng-model="data.ruc" />
                        <div ng-messages="registroForm.ruc.$error">
                            <div ng-message="required">Ruc Requerido</div>
                        </div>
                    </md-input-container>
                  </div>
                  <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Dirección Matriz</label>
                        <input type="text" required name="dir_matriz" ng-model="data.dir_matriz" />
                        <div ng-messages="registroForm.dir_matriz.$error">
                            <div ng-message="required">Ruc Requerido</div>
                        </div>
                    </md-input-container>
                  </div>
                  <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Dirección Establecimiento</label>
                        <input type="text" required name="dir_establecimiento" ng-model="data.dir_establecimiento" />
                        <div ng-messages="registroForm.dir_establecimiento.$error">
                            <div ng-message="required">Dirección Establecimiento Requerido</div>
                        </div>
                    </md-input-container>
                  </div>
              </md-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-warn md-raised md-hue-2" ng-click="ctrl.cancel()"> Cancelar </md-button>
            <span flex></span>
            <md-button class="md-raised md-primary" type="submit" ng-click="update_proveedor()" ng-disabled="registroForm.$invalid">
              Guardar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>